footer.footer.oversize#footer
  .container
    .part
      p 
        | © АО МБНПК «Цитомед» 
        br 
        | Все права защищены 
        a(href="/agreement.html") Правовое соглашение 
        a(href="/confidentiality.html") Политика конфиденциальности
    .part
      include ./socials
    .part
      p Узнать подробнее о разработчике и производителе Цитовир-3:
      .picture
        a(href="http://cytomed.ru/", target='_blank')
          img(src="./assets/img/cytomed-logo.svg", alt="img")
  p.warning Имеются противопоказания. Необходимо проконсультироваться со специалистом.
.scrolltop
  .scrollIcon.icon
  //- .container
  //-   p.madein
  //-     | Сделано в
  //-     a(href="https://uno-agency.ru/", target='_blank')  UNO-agency