footer#footer.footer
  .container
    p.footer__address 
      | Элитный деловой особняк
      br 
      | Санкт-Петербург, Английская набережная, д. 70
    .popup
      .map#gmap
        span.close
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3361.9079461726697!2d30.281062147420137!3d59.93210193497549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbb451cd79de27e9!2z0JHQpiDQkNC90LPQu9C40LnRgdC60LDRjyA3MCwg0L7RhNC40YHQvdGL0Lkg0YbQtdC90YLRgA!5e0!3m2!1sru!2sru!4v1565258986646!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
    p.footer__copy
      | © 
      span.year 
      |  Все права защищены 
      br 
      a(href="https://uno-agency.ru/") UNO Advertising