footer.footer.oversize
  .container
    .part
      p 
        | © АО МБНПК «Цитомед» 
        br 
        | Все права защищены 
        br
        | Правовое соглашение 
        br
        | Политика конфиденциальности
    .part
      include ./socials
    .part
      p Узнать подробнее о разработчике и производителе Цитовир-3:
      .picture
        img(src="./assets/img/cytomed-logo.svg", alt="img")
    //- p.footer__copy
    //-   | © 
    //-   span.year 
    //-   |  Все права защищены 
    //-   br 
    //-   a(href="https://uno-agency.ru/") UNO Advertising