header.header.oversize
  .container
    .burger
      input#menu-switch(type="checkbox")
      nav#navigation
        ul
          li.active
            a fghsdf
          li.active
            a 2222222222222
        .quick-contact
          a.logo
            span элитный
      label.menu-switch(for='menu-switch')
        span
    a.logo 
      img(src="./assets/img/header-logo.svg", alt="img")
      p для детей от 1 года
    a.buy.active(href="buy.html") где купить?