form(autocomplete="off" role="search" class='search-form' action="" method="get")
  label(for="s")
  input(class='search-field' value="" type="search" placeholder="поиск по сайту" name='s' id="search")
  input(type="hidden" value="submit" class='search-submit')
  .bg