.buy{
  position: relative;
  z-index: 2;
  & .picture{
    height: 270px;
    overflow: hidden;
    background-image: url('/assets/img/index-details-bg.jpg');
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }
  & .content{
    background-image: url('/assets/img/recommend-pattern.png');
    background-position: 0 0;
    background-size: contain;
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px; 
    position: relative;
    z-index: 1;
    padding: 40px 0;
    text-align: center;
    margin-top: -20px;
    &::before{
      display: block;
      position: absolute;
      content: '';
      left: 0px;
      top: 0px;
      width: 75%;
      height: 5%;
      background-image: url('/assets/img/lines/recommend-line-yellow.svg');
      background-size: contain;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    & .container{
      max-width: 730px;
      & h1.title{
        color: $darkBlue;
        font-size: $fz12;
        text-align: center;
      }
      & ul.list{
        display: flex;
        flex-direction: column;
        padding: 30px 0;
        align-items: center;
        & li.item{
          padding: 0px 20px 0;
          text-align: center;
          
          & a{
            display: inline-block;
            position: relative;
            & img{
              max-height: 70px;
            }
            & p{
              height: 0;
              transition: .2s;
              opacity: 0;
            }
          }
          &:hover{
            & p{
              opacity: 1;
            }
          }
        }
      }
      & p.text{
        color: $darkBlue;
        font-size: $fz7;
        margin-bottom: 20px;
      }
      & .block{
        padding: 30px;
        margin-bottom: 30px;
        & a{
          display: inline-block;
        }
      }
    }
  }
}

@media (min-width: 992px){
  .buy{
    & .picture{
      height: 270px;
      overflow: hidden;
      background-image: url('/assets/img/index-details-bg.jpg');
      background-position: 0% 70%;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      
    }
    & .picture{
      height: 400px;
      background-position: 50% 65%;
      background-size: 100% auto;
    }
    & .content{
      border-top-left-radius: 100% 60px;
      border-top-right-radius: 100% 60px; 
      padding: 80px 0 120px;
      &::before{
        left: 0;
        top: -3px;
        width: 75%;
        height: 7%;
      }
      & .container{
        & h1.title{
          font-size: $fz13;
        }
        & ul.list{
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          & li.item{
            width: 33.33%;
            min-height: 145px;
            margin-bottom: 30px;
            & a{
              min-height: 90px;
              line-height: 90px;
            }
            &:nth-child(1){
              & a{
                & img{
                  max-height: 85px;
                }
              }
            }
            &:nth-child(2){
              & a{
                & img{
                  max-height: 45px;
                }
              }
            }
            &:nth-child(4),
            &:nth-child(5){
              width: 40%;
              padding: 0px 40px 0;
            }
          }
        }
        & p.text{
          font-size: $fz12;
        }
      }

      & .quote{
        & .cloud{
          width: 250px;
          height: 250px;
          padding: 35px;
          & a{
            background-color: $white;
            border-radius: 30px;
            padding: 15px;
          }
          &:after{
            width: 213px;
            height: 260px;
            bottom: -150px;
            right: -200px;
            background-image: url('/assets/img/chick/chick-7.png');
          }
          &:before{
            transform: rotate(0deg);
            right: -10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px){
  .buy{
    & .content{
      &::before{
        top: -7px;
      }
    }
  }
}