.company{
  padding: 0;
  text-align: center;
  & .picture{
    overflow: hidden;
    background-image: url('/assets/img/company.jpg');
    background-position: 50% 99%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 270px;
  }
  & .content{
    padding: 50px 0 40px;
    position: relative;
    z-index: 1;
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px; 
    border-bottom-left-radius: 100% 30px;
    border-bottom-right-radius: 100% 30px; 
    margin-top: -30px;
    &::before{
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 0px;
      width: 75%;
      height: 5%;
      background-image: url('/assets/img/lines/company-line-pink.svg');
      background-size: contain;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
    &::after{
      display: block;
      position: absolute;
      content: '';
      right: 0;
      bottom: 0px;
      width: 75%;
      height: 5%;
      background-image: url('/assets/img/lines/company-line-light.svg');
      background-size: contain;
      background-position: 100% 100%;
      background-repeat: no-repeat;
    }
    & .container{
      max-width: 1010px;
      & .text{
        text-align: left;
        & h1.title{
          font-size: $fz12;
          text-align: center;
          color: $darkBlue;
        }
        & p{
          font-size: $fz9;
          margin-bottom: 30px;
          color: $dark;
          &.important{
            background-color: $gray;
            padding: 10px;
          }
        }
        & ul.list{
          margin-bottom: 30px;
          padding-left: 30px;
          list-style-type: disc;
          & li.item{
            list-style-type: disc;
            & p{
              margin-bottom: 10px;
            }
          }
        }
      }
      & .details{
        margin-bottom: 40px;
        h2.title{
          font-weight: $bold;
          font-size: $fz9;
          text-align: center;
          margin-bottom: 40px;
          color: $darkBlue;
          font-weight: $bold;
        }
        & ul.list{
          display: flex;
          flex-direction: column;
          color: $dark;
          & li.item{
            text-align: left;
            margin-bottom: 40px;
            & h2.title{
              margin-bottom: 15px;
              display: inline-block;
              border-bottom: 1px solid $dark;
              font-weight: $regular;
              line-height: 1;
              font-size: $fz7;
              color: $dark;
            }
          }
        }
      }
      & p.link{
        text-align: center;
        & a{
          display: inline-block;
          border-bottom: 1px solid $red;
          font-size: $fz8;
          color: $red;
          transition: .2s;
          line-height: 1;
          &:hover{
            border-bottom: 1px solid transparent;
          }
        }
      }
    }
  }
  & ul.slider{
    margin-top: -30px;
    max-height: 700px;
  }
}

@media (min-width: 992px){
  .company{
    padding: 10px 0 0;
    text-align: center;
    & .picture{
      height: 400px;
      background-size: cover;
    }
    & .content{
      padding: 110px 0 80px;
      border-top-left-radius: 100% 60px;
      border-top-right-radius: 100% 60px; 
      border-bottom-left-radius: 100% 60px;
      border-bottom-right-radius: 100% 60px; 
      &::before{
        top: -4px;
      }
      &::after{
        bottom: -1px;
      }
      & .container{
        & .text{
          margin-bottom: 60px;
          & h1.title{
            font-size: $fz40;
            margin-bottom: 40px;
          }
          & p{
            padding: 0 90px;
            &.important{
              background-color: $gray;
              padding: 20px 90px;
              margin-bottom: 0;
            }
          }
          & ul.list{
            padding: 0 130px;
            & li.item{
              & p{
                padding: 0;
              }
            }
          }
        }
        & .details{
          margin-bottom: 70px;
          padding: 0 90px;
          & ul.list{
            flex-direction: row;
            justify-content: space-between;
            & li.item {
              margin-bottom: 0px;
              width: 32%;
              & h2{
                text-align: left;
              }
              
              & p{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px){
  .company{
    & .content{
      &::before{
        top: -7px;
      }
      &::after{
        bottom: -1px;
      }
      
    }
  }
}