footer.footer {
  background-color: $darkBlue;
  padding: 70px 0 0px;
  color: $white;
  border-top-left-radius: 100% 30px;
  border-top-right-radius: 100% 30px;  
  font-size: 17px; 
  margin-top: -15px;
  z-index: 1;
  & .container{
    display: flex;
    flex-direction: column;
    & .part{
      width: 100%;
      order: 2;
      margin-bottom: 20px;
      &:nth-child(1) {
        & a{
          display: block;
          color: $white;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      &:nth-child(2) {
        order: 1;
        & form{
          margin-top: 20px;
          position: relative;
          text-align: center;
          & input{
            background-color: transparent;
            border-bottom: 1px solid $white;
            outline: none;
            width: 80%;
            padding: 5px 10px;
            &::placeholder {
              color: rgba(255,255,255,.6);
              transition: color .4s ease;
            }
            &:focus::placeholder {
              color: transparent;
            }
            &:focus {
              border-bottom: 1px solid transparent;
            }
            &:focus ~ .bg {
              height: 100%;
            }
          }
          & .bg {
            height: 0%;
            width: 80%;
            background: #fff;
            position: absolute;
            border-radius: 5px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -2;
            transition: height 0.7s cubic-bezier(0.76, -0.76, 0.25, 1.26);
          }
        }
      }
      &:last-child{
        & p{
          margin-bottom: 5px;
        }
      }
    }
    & .madein{
      & a{
        color: $white;
      }
    }
  }
  & p.warning{
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: $fz2;
    font-weight: $light;
    text-align: center;
    background-color: $blue;
  }
}

@media (min-width: 768px) {
  footer.footer {
    border-top-left-radius: 100% 80px;
    border-top-right-radius: 100% 80px;
    margin-top: -40px;
    & .container{
      flex-direction: row;
      justify-content: center;
      align-items: space-between;
      & .part{
        width: 250px;
        margin-bottom: 0;
        &:nth-child(2){
          align-self: flex-start;
          order: 2;
          & form{
            margin-top: 25px;
          }
        }
        &:nth-child(1){
          order: 1;
        }

        &:last-child{
          & p{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  footer.footer {
    & p.warning{
      font-size: $fz10;
    }
  }
}