footer.footer {
  background-color: $darkBlue;
  padding: 50px 0;
  color: $white;
  border-top-left-radius: 100% 30px;
  border-top-right-radius: 100% 30px;  
  font-size: 17px; 
  & .container{
    display: flex;
    flex-direction: column;
    & .part{
      width: 100%;
    }
  }
}

@media (min-width: 992px) {

  footer.footer {

    & .container{
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      & .part{
        width: 250px;
        &:nth-child(2){
          align-self: center;
        }
        &:last-child{
          & p{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
