.how{
  position: relative;
  z-index: 2;
  background-color: $white;

  & .page__title{
    text-align: center;
    background-image: url('/assets/img/how-bg.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    position: relative;
    & .container{
      & h1.title{
        color: $white;
        font-size: $fz12;
      }
    }
  }

  & .effect{
    padding: 60px 0;
    background-image: url('/assets/img/how-pattern.png');
    background-size: cover;
    background-color: $white;
    background-repeat: repeat;
    background-position: 0 0;
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px; 
    position: relative;
    z-index: 1;
    margin-top: -30px;
    & .container{
      & h2.title{
        font-size: $fz9;
        text-align: center;
        color: $darkBlue;
        font-weight: $bold;
        margin-bottom: 70px;
      }
      & ul.list{
        display: flex;
        flex-direction: column;
        align-items: center;
        & li.item{
          font-size: $fz7;
          color: $dark;
          padding: 120px 30px 30px 30px;
          background-color: $white;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          border-radius: 7px;
          margin-bottom: 40px;
          max-width: 260px;
          position: relative;
          transition: .2s;
          cursor: default;
          &::before{
            display: block;
            position: absolute;
            content: '';
            left: 30px;
            top: 30px;
            width: 80px;
            height: 80px;
            background-image: url('/assets/img/icons/effect/icon-1.svg');
            background-size: 50%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-color: rgba(50, 207, 188, .3);
            border-radius: 50%;
            transition: .2s;
          }
          &:hover{
            background: linear-gradient(316.94deg, rgba(50, 207, 188, 0.4) 0%, rgba(50, 207, 188, 0) 100%), #FFFFFF;
            &::before{
              background-image: url('/assets/img/icons/effect/icon-1-hover.svg');
            }
          }
          &:nth-child(2){
            &::before{
              background-color: rgba(255, 0, 57, .3);
              background-image: url('/assets/img/icons/effect/icon-2.svg');
            }
            &:hover{
              background: linear-gradient(316.82deg, rgba(255, 0, 57, 0.3) 0%, rgba(255, 0, 57, 0) 100%), #FFFFFF;
              &::before{
                background-image: url('/assets/img/icons/effect/icon-2-hover.svg');
              }
            }
          }
          &:nth-child(3){
            &::before{
              background-color: rgba(0, 98, 217, .3);
              background-image: url('/assets/img/icons/effect/icon-3.svg');
            }
            &:hover{
              background: linear-gradient(316.82deg, rgba(255, 0, 57, 0.3) 0%, rgba(255, 0, 57, 0) 100%), #FFFFFF;
              &::before{
                background-image: url('/assets/img/icons/effect/icon-3-hover.svg');
              }
            }
          }
          &:nth-child(4){
            &::before{
              background-color: rgba(0, 194, 255, .3);
              background-image: url('/assets/img/icons/effect/icon-4.svg');
            }
            &:hover{
              background: linear-gradient(316.82deg, rgba(255, 0, 57, 0.3) 0%, rgba(255, 0, 57, 0) 100%), #FFFFFF;
              &::before{
                background-image: url('/assets/img/icons/effect/icon-4-hover.svg');
              }
            }
          }
          &:nth-child(5){
            &::before{
              background-color: rgba(244, 169, 18, .3);
              background-image: url('/assets/img/icons/effect/icon-5.svg');
            }
            &:hover{
              background: linear-gradient(316.82deg, rgba(255, 0, 57, 0.3) 0%, rgba(255, 0, 57, 0) 100%), #FFFFFF;
              &::before{
                background-image: url('/assets/img/icons/effect/icon-5-hover.svg');
              }
            }
          }
        }
      }
    }
  }

  & .describe{
    font-size: $fz4;
    background-color: $gray;
    padding: 25px 0;
    font-weight: $medium;
    & sup{
      vertical-align: super;
    }
    & p{
      margin-bottom: 10px;
    }
  }

  & .work{
    display: flex;
    flex-direction: column;
    color: $white;
    background-color: $midBlue;
    font-size: 0;
    position: relative;
    z-index: 1;
    & .part{
      & h2.title{
        font-weight: $medium;
        font-size: $fz40;
        color: $white;
        position: relative;
        z-index: 1;
        margin-bottom: 0;
        line-height: 1.1;
      }
      & h3.title{
        font-weight: $bold;
        font-size: $fz9;
        margin-bottom: 20px;
      }
      & p.text{
        font-size: $fz8;
        font-weight: $regular;
        padding-left: 20px;
        margin-bottom: 10px;
        position: relative;
        &::before{
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 6px;
          width: 8px;
          height: 8px;
          background-color: $blue;
          border-radius: 50%;
        }
      }
      & p.text:last-of-type{
        margin-bottom: 0;
      }
      &:first-child{
        position: relative;
        background-image: url('/assets/img/how-bg-2.jpg');
        background-size: cover;
        background-position: 100%;
        text-align: right;
        padding: 90px 10px;
        &::before{
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 100%;
          height: 100%;
          background: linear-gradient(360deg, #0062D9 0%, rgba(0, 98, 217, 0) 100%);
        }
      }
      &:last-child{
        padding: 0px 20px 40px;
      }
    }
  }

  & .components{
    padding-bottom: 40px;
    border-bottom-left-radius: 100% 30px;
    border-bottom-right-radius: 100% 30px;
    background-color: $white;
    position: relative;
    & .container{
      margin-top: -20px;
      position: relative;
      z-index: 2;
      & ul.list{
        display: flex;
        flex-direction: column;
        align-items: center;
        & li.item{
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 7px;
          margin-bottom: 30px;
          padding: 20px;
          background: linear-gradient(0deg, rgba(255, 0, 57, 0.1), rgba(255, 0, 57, 0.1)), #FFFFFF;
          & .picture{
            text-align: center;
            margin-bottom: 30px;
          }
          & h3.title{
            font-size: $fz9;
            font-weight: $bold;
            line-height: 1.2;
            text-align: center;
            margin-bottom: 30px;
            color: $darkBlue;
            & span{
              font-weight: $regular;
            }
          }
          & p{
            font-size: $fz6;
          }
          &:nth-child(2){
            background: linear-gradient(0deg, rgba(0, 194, 255, 0.1), rgba(0, 194, 255, 0.1)), #FFFFFF;
          }
          &:nth-child(3){
            background: linear-gradient(0deg, rgba(252, 208, 0, 0.15), rgba(252, 208, 0, 0.15)), #FFFFFF;
          }
        }
      }
    }
  }

  & .message{
    padding: 60px 0;
    background: linear-gradient(180deg, #F4A912 0%, #FCD000 100%);
    margin-top: -30px;

    .container{
      max-width: 580px;
      text-align: center;

      & h2.title{
        font-size: $fz40;
        font-weight: $medium;
        color: $darkBlue;
        margin-bottom: 40px;
      }
      & p.text{
        margin-bottom: 30px;
        text-align: left;
        color: $white;
        font-size: $fz9;
      }
      & p.note{
        margin-bottom: 55px;
        text-align: left;
        color: $darkBlue;
        font-size: $fz9;
      }
    }
  }

  & .details{
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px;
    margin-top: -40px;
    position: relative;
    background-color: $white;
    padding: 0 0 40px;

    & .container{
      position: relative;
      padding-top: 80px;
      & .button{
        background-color: transparent;
        text-align: center;
        padding: 0;
        position: absolute;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        top: -30px;
        & a.btn{
          background-color: $midBlue;
          border-radius: 41px;
          font-size: $fz8;
          color: $white;
          text-transform: initial;
          padding: 20px 50px;
          display: inline-block;
          transition: .2s;
          &:hover{
            background-color: $red;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .how{
    & .page__title{
      padding: 160px 0;
      & .container{
        & h1.title{
          font-size: $fz40;
        }
      }
      &::before{
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(5%, rgba(255,255,255,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(95%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
      }
    }
    & .effect{
      border-top-left-radius: 100% 60px;
      border-top-right-radius: 100% 60px; 
      margin-top: -30px;
      & .container{
        & ul.list{
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: stretch;
          & li.item{
            margin-right: 40px;
          }
        }
      }
    }
    & .work{
      flex-direction: row;
      align-items: stretch;
      & .part{
        width: 50%;
        & h3.title{
          margin-bottom: 40px;
        }
        & p.text{
          margin-bottom: 20px;
          &::before{
            display: block;
            position: absolute;
            content: '';
            left: 0;
            top: 6px;
            width: 8px;
            height: 8px;
            background-color: $blue;
            border-radius: 50%;
          }
        }
        &:first-child{
          padding: 80px 50px 90px;
        }
        &:last-child{
          padding: 90px 50px;
          &>*{
            max-width: 400px;
          }
        }
      }
    }
    & .components{
      padding-bottom: 140px;
      border-bottom-left-radius: 100% 60px;
      border-bottom-right-radius: 100% 60px; 
      & .container{
        margin-top: -40px;
        & ul.list{
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          & li.item{
            margin-bottom: 0px;
            padding: 30px;
            width: 31%;
          }
        }
      }
    }
  }
}