main.main{
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 50px 0 500px;
  background-image: url('/assets/img/index-bg-mobile.jpg');
}

section.products{
  background-color: $yellow;
  padding: 40px 0;
}

section.choose{
  background-color: $blue;
  background-image: url('/assets/img/choose-pattern.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat;
  padding: 20px 0;
  & .container{
    h2.title{
      text-align: center;
      color: $white;
      margin-bottom: 30px;
    }
    & ul.list{
      width: 100%;
      font-size: 0;
      flex-direction: column;
      display: flex;
      & li.item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
        color: $white;
        line-height: 1;

        & .icon{
          background-color: $white;
          border-radius: 50%;
          width: 75px;
          height: 75px;
          display: flex;
          margin-bottom: 20px;
          & img{
            margin: auto;
          }
        }

        & h3.title{
          font-weight: 700;
          font-size: $fz8;
          text-transform: uppercase;
          margin-bottom: 20px;
        }

        & p{
          text-transform: lowercase;
          font-size: $fz7;
        }
      }
    }
  }
}

section.formula{
  padding: 20px 0 0;
  color: $darkBlue;
  & .container{
    & .content{
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      & .part{
        & h2.title{
          text-align: center;
          margin-bottom: 30px;
          color: $darkBlue;
        }
        & p{
          font-size: $fz8;
          margin-bottom: 30px;
          font-weight: $medium;
        }
        & .list{
          & h3.title{
            font-weight: 700;
            font-size: $fz9;
            margin-bottom: 20px;
          }
          & p{
            font-size: $fz8;
            padding-left: 10px;
            margin-bottom: 20px;
            position: relative;
            &::before{
              display: block;
              position: absolute;
              content: '';
              left: 0px;
              top: 10px;
              width: 2px;
              height: 2px;
              border-radius: 50%;
              background-color: $darkBlue;
            }
          }
        }
        &:last-child{
          text-align: center;
        }
      }
    }
    & .list{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      & li.item{
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        max-width: 300px;
        flex-direction: column;
        margin-bottom: 30px;
        & .picture{
          min-height: 170px;
        }
        & p{
          font-size: $fz8;
          background-color: $gray;
          padding: 15px 20px;
          min-height: 130px;
          font-weight: 700;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
    }
    h2.title{
      color: $darkBlue;
      text-align: center;
    }
  }
}

section.pharmacy{
  padding: 50px 0;
  background-image: url('/assets/img/index-details-bg.jpg');
  & .container{
    text-align: center;

    & .content{
      background-color: $white;
      text-align: center;
      border-radius: 26px;
      display: flex;
      flex-direction: column;
      & h1.title{
        color: $blue;
      }
    }
  }
}

section.index__details{
  display: flex;
  flex-direction: column;
  & .part{
    width: 100%;
    & .content{
      width: 100%;
      background-color: transparent;
      text-align: center;
    }
    &:first-child{
      background-color: $yellow;
      background-image: url('/assets/img/details-yellow-pattern.png');
    }
    &:last-child{
      background-color: $midBlue;
      background-image: url('/assets/img/details-blue-pattern.png');
    }
  }
}

@media (min-width: 768px) {
  section.index__details{
    flex-direction: row;
    & .part{
      width: 50%;
    }
  }
}

@media (min-width: 992px) {
  main.main{
    padding: 80px 0;
    background-image: url('/assets/img/index-bg.jpg');
  }

  section.choose{
    background-color: $blue;
    padding: 60px 0;
    & .container{
      h2.title{
        margin-bottom: 45px;
      }
      & ul.list{
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        & li.item{
          width: 25%;
          padding: 0 35px;
          & .icon{
            background-color: $white;
            border-radius: 50%;
            width: 75px;
            height: 75px;
            display: flex;
            margin-bottom: 20px;
            & img{
              margin: auto;
            }
          }
  
          & h3.title{
            font-size: $fz7;
            margin-bottom: 15px;
            min-height: 34px;
          }
  
          & p{
            text-transform: lowercase;
            font-size: $fz7;
          }
        }
      }
    }
  }

  section.formula{
    padding: 80px 0 0;
    & .container{
      & .content{
        flex-direction: row;
        width: 100%;
        align-items: center;
        margin-bottom: 70px;
        & .part{
          & h2.title{
            text-align: left;
            margin-bottom: 60px;
          }
          & p{
            font-size: $fz8;
            margin-bottom: 40px;
          }
          & .list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0px;
            & h3.title{
              margin-bottom: 30px;
            }
            & p{
              padding-left: 35px;
              margin-bottom: 25px;
              &::before{
                left: 25px;
              }
            }
          }
          &:first-child{
            width: 60%;
          }
          &:last-child{
            text-align: center;
            flex: auto;
          }
        }
      }
      & .list{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 100px;
        align-items: flex-start;
        & li.item{
          width: 23%;
          margin-bottom: 0;
           
          & .picture{
            min-height: auto;
          }
        }
      }
    }
  }

  section.index__details{
    flex-direction: row;
    & .part{
      width: 50%;
      & .content{
        width: 100%;
        max-width: 600px;
        text-align: center;
      }
      &:first-child{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}