main.main{
  background-size: cover;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  padding: 50px 0 500px;
  background-image: url('/assets/img/index-bg-mobile.jpg');
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  main.main{
    padding: 80px 0;
    background-image: url('/assets/img/index-bg.jpg');
  }
}