section.warning{
  background-color: $blue;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  line-height: 1;
  padding: 10px 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: $light;
  font-size: $fz2;
  padding: 10px 30px;
  z-index: 2;

  & .check{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url('/assets/img/icons/cancel.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    
    & input{
      width: 100%;
      height: 100%;
    }
  }
}

@media (min-width: 992px){
  section.warning{
    font-size: $fz10;
  }
}