extends ../layout/page

block content
  .document
    .container
      h1.title Правовое соглашение
      p.text 
        b Медико-биологический научно-производственный комплекс «Цитомед» (МБНПК «Цитомед») 
        | благодарит Вас за проявленный интерес к нашей компании, 
        | нашим препаратам и за визит на наш сайт 
        a(href="/") protiv-grippa.com

      p.text Просматривая любую страницу настоящего интернет-сайта, вы соглашаетесь со всеми приведенными ниже ограничениями и условиями. Если вы не согласны с этими условиями, не пользуйтесь настоящим интернет-сайтом.

      p.text 
        | Несмотря на то что 
        b МБНПК «Цитомед» 
        | прилагает все усилия к своевременной актуализации и обновлению информации, 
        | представленной на настоящем интернет-сайте, 
        | а также к устранению технических и фактических ошибок, которые могут время от времени встречаться, 
        b МБНПК «Цитомед» 
        | не дает никаких гарантий и не делает никаких утверждений (прямо высказанных или подразумеваемых) в отношении точности, 
        | полноты и актуальности любой информации, представленной на настоящем интернет-сайте, 
        | равно как и отказывается от любой ответственности за использование настоящего интернет-сайта или иного сайта, 
        | ссылка на который содержится на настоящем интернет-сайте.

      p.text
        b МБНПК «Цитомед» 
        | вправе вносить изменения в содержание и оформление настоящего интернет-сайта, 
        | равно как и приостанавливать либо полностью прекращать его функционирование в любое время без предварительного уведомления, 
        | хотя и не принимает тем самым на себя каких-либо обязательств по периодическому обновлению последнего.

      p.text
        | Восприятие представленной информации может зависеть от множества факторов, 
        | в том числе научных, деловых, экономических и финансовых, 
        | в этой связи посетитель настоящего интернет-сайта должен осознавать и принимать на себя риск, 
        | связанный с неверным пониманием и трактованием представленной информации.

      p.text
        | Посетитель соглашается, что доступ и использование настоящего интернет-сайта, 
        | равно как и любого иного сайта, ссылка на который содержится на настоящем интернет-сайте, включая их содержимое, 
        | осуществляется на его/ее собственный риск. МБНПК «Цитомед», равно как и любая компания, участвовавшая в создании, 
        | изготовлении или поставке настоящего интернет-сайта или сайта, ссылка на который содержится на настоящем интернет-сайте, 
        | не несет и не будет нести ответственности за любой прямой, случайный, косвенный или штрафной ущерб, причиненный вам, 
        | вашему компьютерному оборудованию или любой иной собственности или третьему лицу вследствие доступа, 
        | использования или невозможности использования настоящего интернет-сайта или сайта, 
        | ссылка на который содержится на настоящем интернет-сайте, 
        | равно как и вследствие ошибок или неточностей предоставленной на них информации. 
        | Посетители также не должны использовать информацию, содержащуюся на настоящем интернет-сайте, 
        | в качестве медицинских советов или рекомендаций, обязательных к исполнению.

      p.text
        | Сведения, представленные на настоящем интернет-сайте, носят публичный характер, 
        | служат исключительно информационным целям и не могут рассматриваться в качестве публичного предложения или склонения к приобретению товаров, услуг или ценных бумаг 
        b МБНПК «Цитомед»
        | , равно как и не должны служить основанием для принятия каких-либо решений (в том числе инвестиционных) партнерами и клиентами компании.

      p.text
        | Настоящий интернет-сайт может содержать информацию, которая относится к будущему. 
        | Такая информация весьма неопределенна и подвержена существенному влиянию различных факторов, включая научные, деловые, 
        | экономические и финансовые, и вследствие этого фактические результаты могут существенно отличаться от тех, 
        | которые изложены на настоящем интернет-сайте.

      p.text
        | Любые ссылки на интернет-сайты третьих лиц, имеющиеся на настоящем интернет-сайте, представлены исключительно для удобства посетителей. 
        b МБНПК «Цитомед» 
        | не имеет намерения каким-либо образом высказать свое одобрение либо иное мнение относительно 
        | содержания таких интернет-сайтов третьих лиц, на которые предоставлены такие ссылки, 
        | равно как и не будет нести ответственность за представленную на них информацию и последствия ее возможного использования.

      p.text
        | Все указанные на настоящем интернет-сайте товарные знаки принадлежат или лицензированы 
        b МБНПК «Цитомед». 
        | Настоящий интернет-сайт, равно как и информация, содержащаяся или упоминаемая на нем, 
        | предоставлены исключительно для информационных целей.

      p.text
        | Воспроизведение, передача, копирование, тиражирование и использование информации, 
        | изображений, звуковой и видео информации, 
        | представленной на настоящем Интернет-сайте, равно как и ссылки на таковую, запрещены без письменного согласия 
        b МБНПК «Цитомед».

      p.text
        b МБНПК «Цитомед» 
        | уважает Ваше право на конфиденциальность. 
        | Для посещения большинства разделов настоящего интернет-сайта не требуется регистрация, и вы можете пользоваться интернет-сайтом, 
        | не идентифицируя себя. МБНПК «Цитомед» гарантирует соблюдение режима конфиденциальности в отношении 
        a(href="/agreement.html") ваших персональных данных 
        | . 
        b МБНПК «Цитомед» 
        | вправе в любое время изменить настоящее правовое соглашение в одностороннем порядке без какого-либо специального уведомления. 
        | Новая редакция Правового соглашения вступает в силу с момента ее размещения на данном интернет-сайте.