extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Можно ли принимать ЦИТОВИР-3 менее 4-х дней, и что будет в таком случае?
          p
            | Общепринятой схемой является прием препарата ЦИТОВИР-3 в форме порошка в течение 4 дней. 
            | Именно такой курс необходим для достижения максимального эффекта – активации противовирусной защиты в период болезни, а также защиты от бактериальных осложнений. 
            | При сокращении времени приема или уменьшении дозировки возможна недостаточная эффективность препарата и возобновление активности инфекционного процесса.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов