extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Если нет возможности давать Цитовир-3 три раза в день, можно ли суточную дозу разделить на два приёма? Или просто пропускать один приём, будет ли тогда эффективен препарат?
          p
            | Не рекомендуется нарушать инструкцию. 
            | Обращаем Ваше внимание, что препарат необходимо принимать три раза в сутки, 
            | но не обязательно рассчитывать приём только на дневные часы. 
        p.back
          a(href="/faq.html") Вернуться к списку вопросов