extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Подходит ли ЦИТОВИР-3 для лечения пандемического гриппа H1N1?
          p
            | ЦИТОВИР-3 — иммуностимулирующее средство, одним из его эффектов является индукция интерферона, 
            | высокую чувствительность к которому имеют практически все вирусы, в том числе и вирус свиного гриппа H1N1. 
            | Интерферон, образующийся в организме под действием препарата ЦИТОВИР-3, воздействует на факторы врожденного иммунитета, 
            | что способствует ускорению выздоровления вне зависимости от типа возбудителя. 
            | Обратите внимание, что прием препарата «Цитовир-3» будет эффективен в первые 48 часов после появления симптомов, 
            | так как к началу третьих суток концентрация вируса в организме снижается, 
            | и прием любых иммуностимулирующих и противовирусных препаратов уже не имеет смысла.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов