extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Как и когда нужно принимать ЦИТОВИР-3 для профилактики гриппа и простуды?
          p
            | Для профилактики ОРВИ и гриппа препарат необходимо применять в периоды подъема сезонной заболеваемости. 
            | Считается, что это октябрь – апрель. 
            | Детский ЦИТОВИР-3 можно принимать повторными курсами с 3-4-х недельными перерывами, 
            | в течение всего эпидемического сезона, согласно возрастным дозировкам. 
            | Ребенку в профилактических целях хорошо давать раствор порошка или сироп ЦИТОВИР-3, 
            | когда он начинает посещать детские учреждения: на первой неделе или за одну неделю до начала занятий.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов