extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Почему ЦИТОВИР-3 рекомендован только для детей старше 1 года? Может ли он быть опасен для ребенка?
          p
            | ЦИТОВИР-3 в форме порошка и сиропа - это противовирусное лекарственное средство непрямого действия, разработанное специально для детей. Он зарегистрирован Минздравом РФ (регистрационный номер: ЛП-000423) и обладает всеми качествами, гарантирующими достаточный эффект и максимальную безопасность при его применении согласно инструкции.
            br
            | Два из трех компонентов препарата (альфа-глутамил-триптофан и аскорбиновая кислота) разрешены к применению с первых месяцев жизни малыша. Однако, в состав ЦИТОВИР-3 также входит дибазол, который показан к применению детям от 1 года. Клинически зафиксированных данных о применении дибазола у детей младше 1 года нет, но это не значит, что препарат опасен. Просто его действие не изучалось среди детей данной возрастной группы. Именно поэтому в инструкциях к детским формам Цитовир-3 указан рекомендованный возраст от 1 года. 
            br
            | Сироп и порошок Цитовир-3 с нейтральным вкусом не содержат вкусоароматических добавок и подходят даже малышам склонным к аллергическим реакциям. Препарат в форме порошка, независимо от вкуса, также не содержит сахара, что важно для детей с ограничениями в потреблении углеводов. 
            br
            | Препарат совместим со всеми симптоматическими средствами и антибиотиками.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов