extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Стоит ли начинать прием ЦИТОВИР-3, если ребенок болеет уже несколько дней?
          p
            | Следует помнить правило: чем раньше начато лечение, тем выше его эффективность. 
            | При раннем начале лечения заболевание заканчивается чаще всего в течение 4-5 дней, протекает относительно легко и, 
            | как правило, не дает никаких осложнений. Лечение может быть начато и позднее — на 2-й или 3-й день. 
            | В этом случае сокращения продолжительности заболевания или более легкого течения, скорее всего, не будет, 
            | однако Цитовир-3 позволит с высокой долей вероятности предотвратить возможные осложнения.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов