extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Почему нет температуры при простуде? Есть ли смысл давать Цитовир-3?
          p
            | При очевидных признаках вирусных заболеваний лихорадка встречается не всегда. 
            br
            | В зависимости от состояния местного иммунитета основные симптомы заболевания могут проявляться только местно (например, насморк и воспаление горла) и не давать системных проявлений, таких как температура.
            br
            | Препарат Цитовир-3 активирует иммунитет, способствуя снижению вероятности развития осложнений и сокращению продолжительности респираторного заболевания вне зависимости от особенностей проявления симптомов.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов