extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Скажите, содержатся ли в препарате Цитовир-3 антибиотики?
          p
            | Цитовир-3 не содержит антибиотиков.
            br
            | В составе препарата три активных вещества – дибазол (бендазол гидрохлорид), тимоген (альфа-глутамил-триптофан) и витамин С (аскорбиновая кислота) – они дополняют и усиливают действие друг друга, что позволяет достичь быстрого лечебно-профилактического эффекта.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов