extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Может ли детский ЦИТОВИР-3 вызвать аллергическую реакцию?
          p
            | В ходе клинических исследований было выявлено, что активные компоненты препарата Цитовир-3 не обладают аллергенностью. Кроме того, сироп и порошок с нейтральным вкусом не содержат ароматизаторов, что также снижает вероятность аллергических реакций. 
            br
            | Однако, помните, что каждый организм индивидуален. Гиперчувствительность к компонентам детских форм Цитовир-3 маловероятна, но не исключена. Если Вы заметили нежелательную реакцию на препарат, прекратите его применение и обратитесь к лечащему врачу. 
            br
            | Разработчик и производитель препарата Цитовир-3 АО «МБНПК «Цитомед» уделяет особое внимание контролю качества и безопасности выпускаемых лекарственных средств. Вы можете сообщить о случае нежелательной реакции, воспользовавшись формой на сайте.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов