extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Понижает ли ЦИТОВИР-3 температуру?
          p
            | Температурная реакция при инфекционном процессе обусловлена попаданием в кровоток микроорганизмов (вирусов, бактерий, простейших), их фрагментов, а также других продуктов воспаления (погибшие клетки, белки, фрагменты ДНК и РНК возбудителей и собственных клеток, цитокинов и т.д.).
            br
            | Цитовир-3 подавляет размножение вируса путем активации различных механизмов иммунной защиты и способствует скорейшему выведению из организма продуктов инфекционного воспаления. Данные механизмы биологического действия препарата в целом способствуют снижению температуры тела.
            br
            | Однако, помните, что ЦИТОВИР-3 не является жаропонижающим. Если у ребенка высокая температура (38,5° и выше), следует, наряду с ЦИТОВИРОМ-3, применять средства для ее снижения.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов