extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Если с иммунитетом все нормально, но мы все-таки начали профилактику детским Цитовир-3, не приведет ли это к проблемам с иммунитетом? 
          p
            | Профилактический прием препарата «Цитовир-3» не окажет негативного влияния на состояние иммунной системы, так как входящие в его состав компоненты способствуют усилению функциональной активности иммунокомпетентных клеток только при контакте с инфекционными агентами (вирусами и/или бактериями). 
            br
            | При отсутствии проблем с иммунитетом и вне контакта с инфекционными агентами исходное состояние клеток не меняется.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов