extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question При простуде можно ли обойтись без симптоматических средств, а только Цитовиром-3?
          p
            | Прием Цитовир-3 позволяет снизить лекарственную нагрузку на организм ребенка. Препарат предупреждает осложнения и способствует уменьшению продолжительности заболевания, что приводит к сокращению длительности приема симптоматических средств и отсутствию необходимости приёма антибиотиков. Однако сам по себе Цитовир-3 не является жаропонижающим, муколитическим и антигистаминным (противоаллергическим) средством. Поэтому, если у ребенка высокая температура, заложенность носа или кашель, следует совмещать прием ЦИТОВИРА-3 со средствами, облегчающими симптомы.
            br
            | Помните, что объективно оценить состояние маленького пациента и назначить правильный курс лечения может только лечащий врач.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов