extends ../layout/main

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Чем Цитовир-3 отличается от других противовирусных средств?
          p
            | Цитовир-3– противовирусный препарат, обладающий непрямым действием, 
            | что позволяет ему защищать организм от всех типов возбудителей ОРВИ и гриппа (включая подтипы H1N1, H2N2, H3N2 и Н5N1).N1). 
            br
            | Препарат состоит из известных и проверенных временем компонентов. 
            | Благодаря своему составу,он активирует и врожденный, и адаптивный иммунитет, 
            | а также способствует активации синтезаэндогенного (собственного) интерферона в организме на необходимом уровне для борьбы с вирусами.
            br
            | Препарат в форме сиропа и порошка разработан специально для детей, не кумулируется в организме и при метаболизме не образует токсичных продуктов. 
            | Низкий аллергенный потенциал подтверждён результатами клинических исследований и многолетним мониторингом безопасности при применении. 
            | Имеет короткий курс лечения – всего 4 дня.
        p.back
          a(href="/faq.html")