extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Правда ли, что порошок и сироп ЦИТОВИР-3 можно принимать даже самым маленьким детям, и это не нанесет им вред?
          p
            | ЦИТОВИР-3 в форме порошка и сиропа рекомендован к применению детям от 1 года. 
            | Препарат обладает высоким профилем безопасности, не кумулируется в организме и при метаболизме не образует токсичных продуктов. 
            | Низкий аллергенный потенциал подтверждён результатами клинических исследований и многолетним мониторингом безопасности при применении. 
            | Кроме того, сироп и порошок с нейтральным вкусом не содержат ароматизаторов, что также снижает вероятность аллергических реакций.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов