extends ../layout/page

block content
  .answer
    .picture
    .content.oversize
      .container
        .text
          h1.question Можно ли применять препарат ЦИТОВИР-3 более 4-х дней?
          p
            | ЦИТОВИР-3 необходимо принимать в соответствии с инструкцией - 4 дня. 
            | Это необходимый и достаточный курс для активации противовирусной защиты в период болезни, 
            | а также защиты от бактериальных осложнений.
        p.back
          a(href="/faq.html") Вернуться к списку вопросов