extends ../layout/page

block content
  .buy
    .picture
    .content.oversize
      .container
        h1.title 
          | Вы можете приобрести 
          br
          | Цитовир&#8209;3 в интернет&#8209;аптеках
        ul.list
          li.item
            a(href="https://apteka.ru/preparation/tsitovir-3/?utm_source=protiv-grippa.com&utm_medium=knopka&utm_campaign=cytovir-3", target='_blank')
              img(src="./assets/img/pharmacy/aptru.png", loading='lazy')
          li.item
            a(href="https://www.piluli.ru/product/Citovir-3", target='_blank')
              img(src="./assets/img/pharmacy/piluli.png", loading='lazy')
          li.item
            a(href="https://amt-apteka.ru/product/citovir-3.html", target='_blank')
              img(src="./assets/img/pharmacy/atmm.png", loading='lazy')
          li.item
            a(href="https://www.eapteka.ru/goods/drugs/antiviral/tsitovir_3_tsitomed/", target='_blank')
              img(src="./assets/img/pharmacy/eapt.png", loading='lazy')
          li.item
            a(href="https://uteka.ru/lekarstvennye-sredstva/prostuda-i-gripp/citovir-3/", target='_blank')
              img(src="./assets/img/pharmacy/upteka.png", loading='lazy')
        p.text
          | Уточните наличие Цитовир-3 
          br
          | в аптеках вашего города
        .block
          a(href="https://www.pharmindex.ru/tsitovir_3.html", target='_blank')
            img(src="./assets/img/pharmacy/farmindex.png", alt="img", loading='lazy')
      .quote
        .cloud
          p Как применять Цитовир-3
          a.btn(href="") Узнать