extends ../layout/page

block content
  .company
    .picture
    .content.oversize
      .container
        .text
          h1.title Кто производит Цитовир-3?
          p Препарат Цитовир-3 производит АО Медико-биологический научно-производственный комплекс «Цитомед» (МБНПК «Цитомед»). Российское предприятие осуществляет полный цикл производства: от сырья до упаковки.
          p МБНПК «Цитомед» — инновационная научно-производственная фармацевтическая компания. Более 30 лет пептидные препараты МБНПК «Цитомед» применяются в медицине в следующих областях:
          ul.list
            li.item
              p иммуномодулирующие препараты;
            li.item
              p препараты противовоспалительного действия;
            li.item
              p препараты непрямого действия, подавляющие бактериальные, вирусные инфекции.
          p.important Сегодня «Цитомед» работает в соответствии с мировыми стандартами GMP (Good Manufacturing Practice), имеет собственный научно&#8209;лабораторный комплекс, производственные мощности в Финляндии (CYTOMED OY) и Санкт-Петербурге. Все препараты МБНПК «Цитомед» – это инновационные оригинальные отечественные лекарства, оказывающие людям эффективную помощь и улучшающие качество их жизни.
        .details
          h2.title АО «МБНПК «ЦИТОМЕД»
          ul.list
            li.item
              h2.title Адрес (почтовый):
              p.text 
                | 199004, Россия, 
                br
                | Санкт-Петербург, 
                br
                | 4-я линия В.О., д. 11 ст. м. «Василеостровская»
            li.item
              h2.title Адрес (место нахождения):
              p.text 
                | 194356, Россия, 
                br
                | Санкт&#8209;Петербург, 
                br
                | Приморский район, 
                br
                | территория «Новоорловская», 
                br
                | ОЭЗ «Санкт&#8209;Петербург», 
                br
                | Орлово&#8209;Денисовский проспект 
                br
                | дом 14, строение 1
            li.item
              h2.title Производство в Финляндии
              p.text 
                | Cytomed OY 
                br
                | (Лаппенранта, Финляндия) Laastitie 1, 
                br
                | 55300 Rauha, Finland

        p.link
          a(href="http://cytomed.ru/", target='_blank') Подробнее о МБНПК «Цитомед»
    
    ul.slider
      li.item
        img(src="./assets/img/company-slider/photo-1.jpg", alt="img")
      li.item
        img(src="./assets/img/company-slider/photo-2.jpg", alt="img")
      li.item
        img(src="./assets/img/company-slider/photo-3.jpg", alt="img")