extends ../layout/page

block content
  .document
    .container
      h1.title Политика конфиденциальности
      p.text 
        | Используя сервисы настоящего сайта (
        a(href="/") protiv-grippa.com
        | ), я даю свое согласие на обработку АО МБНПК «ЦИТОМЕД» (194356, Санкт-Петербург, Орлово-Денисовский проспект, д.14, стр.1.) 
        | моих персональных данных (Имя, e-mail, возраст, медицинские данные) в целях получения дополнительной информации о лекарственных препаратах компании.

      p.text 
        | Настоящее согласие выдано на неограниченный срок и может быть отозвано путем направления мною соответствующего письменного уведомления в 
        b АО МБНПК «ЦИТОМЕД» не менее чем за 3 (три) месяца до момента отзыва согласия.

      p.text 
        | Настоящее согласие предоставляется на осуществление любых действий в отношении моих персональных данных, 
        | которые необходимы или желаемы для достижения указанных выше целей, включая, без ограничения: сбор, систематизацию, накопление, хранение, 
        | уточнение (обновление, изменение), использование, передачу в случаях, установленных законом, обезличивание, блокирование, уничтожение, 
        | а также осуществление любых иных действий с моими персональными данными с учетом требований действующего законодательства.

      p.text
        | Настоящим я признаю и подтверждаю, что данное мною согласие является осознанным и сделано после получения необходимой информации о целях получения моих персональных данных. 
        | С порядком отзыва согласия на обработку персональных данных ознакомлен(-а).

      p.text
        | О порядке отзыва согласия из ФЗ «О персональных данных» (№ 152-ФЗ):

      p.text
        i «В случае отзыва субъектом согласия на обработку своих персональных данных оператор обязан прекратить обработку персональных данных и уничтожить персональные данные в срок, не превышающий трех рабочих дней с даты поступления указанного отзыва, если иное не предусмотрено соглашением между оператором и субъектом персональных данных. Об уничтожении персональных данных оператор обязан уведомить субъекта персональных данных».

      p.text
        | Указанное согласие может быть отозвано посредством направления письменного заявления заказным почтовым отправлением с описью вложения и пометкой 
        b «ЦИТОВИР-3. Сайт» 
        | в адрес 
        b АО МБНПК «ЦИТОМЕД»
        | : 194356, Санкт-Петербург, Орлово-Денисовский проспект, д.14, стр.1.