extends ../layout/page

block content
  .faq
    .picture
    .content.oversize
      .container
        .part
          h1.title Часто задаваемые вопросы
          ul.list
            li.item
              h2.question Правда ли, что порошок ЦИТОВИР-3 можно принимать даже самым маленьким детям, и это не нанесет им вред?
              p.answer 
                | ЦИТОВИР-3 в форме порошка рекомендован к применению детьми от 1 года до 6 лет. 
                | Все остальные рекомендации вправе давать врач-педиатр, 
                | который «ведет» вашего ребенка с рождения и может применять свои схемы лечения, 
                | основываясь на опыте и индивидуальных особенностях малыша. 
                | Например, если ребенок крупный и опережает сверстников по весу, ему часто увеличивают стандартную дозу препарата, 
                | т.к. дозировка большинства лекарств рассчитывается на 1 килограмм веса. 
                | Важно, что вне зависимости от выбраного вкуса, препарат является безопасным, 
                | эффективным и недорогим лекарством для профилактики и лечения ОРВИ.
            li.item
              h2.question Чем Цитовир-3 отличается от других противовирусных средств?
              p.answer 
                | Невозможно ответить на этот вопрос однозначно, ведь противовирусные средства все разные. 
                | Одни токсичны и опасны для детей, другие по сути — гомеопатические. 
                | Третьи – с такими  неизвестными компонентами в составе, что трудно понять, существуют ли они в природе. 
                | Цитовир-3 – это лекарственный препарат, состоящий из известных и проверенных временем компонентов. 
                | Благодаря своему составу, Цитовир-3 активирует иммунную систему, 
                | удерживая синтез эндогенного (собственного) интерферона в организме на необходимом уровне для борьбы с вирусом, 
                | а также стимулируя антиоксидантные процессы в организме. 
                | Он эффективен как против гриппа А и В, включая подтипы H1N1, H2N2, H3N2 и Н5N1, 
                | так и против других значимых возбудителей простудных заболеваний 
                | (коронавирус, риновирус, респираторно-синцитиальный вирус, аденовирус, энтеровирус). 
                | Стоит отметить, что Цитовир-3 имеет, действительно, удобную схему применения — 4 дня по 3 дозы. 
                | При этом она одинакова и при лечении, и для профилактики. Это бесспорное преимущество.
          .block
            a Больше вопросов и ответов
        .part
          form.form
            h2.title Консультация специалиста
            p Консультация специалиста. Задайте вопрос о препарате
          p 
            | Дополнительно сообщаем, что, отправляя настоящую форму, 
            | вы даете согласие на обработку ваших персональных данных. 
            | Полученные от вас персональные данные будут носить конфиденциальный характер и, 
            | в соответствии с положениями Закона о защите персональных данных, 
            | не могут быть раскрыты третьим лицам без вашего письменного согласия. 
            | Согласие может быть отозвано посредством направления письменного заявления 
            | (заказным письмом с пометкой 'ЦИТОВИР-3. Сайт') в адрес АО МБНПК 'ЦИТОМЕД': 
            | 199004, Россия, Санкт-Петербург, 4-я линия В.О., д. 11.