extends ../layout/page

block content
  .faq
    .picture
    .content.oversize
      .container
        .part
          h1.title 
            | Часто задаваемые 
            br
            | вопросы
          ul.list
            li.item
              a.question(href="/answer-1.html") Чем Цитовир-3 отличается от других противовирусных средств?
            li.item
              a.question(href="/answer-2.html") Подходит ли ЦИТОВИР-3 для лечения пандемического гриппа H1N1?
            li.item
              a.question(href="/answer-3.html") Понижает ли ЦИТОВИР-3 температуру?
            li.item
              a.question(href="/answer-4.html") Стоит ли начинать прием ЦИТОВИР-3, если ребенок болеет уже несколько дней?
            li.item
              a.question(href="/answer-5.html") Как и когда нужно принимать ЦИТОВИР-3 для профилактики гриппа и простуды?
            li.item
              a.question(href="/answer-6.html") Можно ли применять препарат ЦИТОВИР-3 более 4-х дней?
            li.item
              a.question(href="/answer-7.html") Можно ли принимать ЦИТОВИР-3 менее 4-х дней, и что будет в таком случае?
            li.item
              a.question(href="/answer-8.html") Правда ли, что порошок и сироп ЦИТОВИР-3 можно принимать даже самым маленьким детям, и это не нанесет им вред?
            li.item
              a.question(href="/answer-9.html") Почему ЦИТОВИР-3 рекомендован только для детей старше 1 года? Может ли он быть опасен для ребенка?
            li.item
              a.question(href="/answer-10.html") Может ли детский ЦИТОВИР-3 вызвать аллергическую реакцию?
            li.item
              a.question(href="/answer-11.html") Если с иммунитетом все нормально, но мы все-таки начали профилактику детским Цитовир-3, не приведет ли это к проблемам с иммунитетом?
            li.item
              a.question(href="/answer-12.html") Скажите, содержатся ли в препарате Цитовир-3 антибиотики?
            li.item
              a.question(href="/answer-13.html") Почему нет температуры при простуде? Есть ли смысл давать Цитовир-3?
            li.item
              a.question(href="/answer-14.html") При простуде можно ли обойтись без симптоматических средств, а только Цитовиром-3?
            li.item
              a.question(href="/answer-15.html") Если нет возможности давать Цитовир-3 три раза в день, можно ли суточную дозу разделить на два приёма? Или просто пропускать один приём, будет ли тогда эффективен препарат?
          .block
            a Больше вопросов и ответов
        .part
          .warning
            include ../includes/module/form
            p
              | Дополнительно сообщаем, что, отправляя настоящую форму, 
              | вы даете согласие на обработку ваших персональных данных. 
              | Полученные от вас персональные данные будут носить конфиденциальный характер и, 
              | в соответствии с положениями Закона о защите персональных данных, 
              | не могут быть раскрыты третьим лицам без вашего письменного согласия. 
              | Согласие может быть отозвано посредством направления письменного заявления 
              | (заказным письмом с пометкой 'ЦИТОВИР-3. Сайт') в адрес АО МБНПК 'ЦИТОМЕД': 
              | 194356, Санкт-Петербург, Орлово-Денисовский проспект, д.14, стр.1.