extends ../layout/page

block content
  .faq
    .picture
    .content.oversize
      .container
        .part
          h1.title 
            | Часто задаваемые 
            br
            | вопросы
          ul.list
            li.item
              a.question(href="/answer-1.html") Чем Цитовир-3 отличается от других противовирусных средств?
            li.item
              a.question(href="/answer-2.html") Подходит ли ЦИТОВИР-3 для лечения пандемического гриппа H1N1?
            li.item
              a.question(href="/answer-3.html") Понижает ли ЦИТОВИР-3 температуру?
            li.item
              a.question(href="/answer-4.html") Стоит ли начинать прием ЦИТОВИР-3, если ребенок болеет уже несколько дней?
            li.item
              a.question(href="/answer-5.html") Как и когда нужно принимать ЦИТОВИР-3 для профилактики гриппа и простуды?
          .block
            a Больше вопросов и ответов
        .part
          .warning
            include ../includes/module/form
            p.inform
              | Дополнительно сообщаем, что, отправляя настоящую форму, 
              | вы даете согласие на обработку ваших персональных данных. 
              | Полученные от вас персональные данные будут носить конфиденциальный характер и, 
              | в соответствии с положениями Закона о защите персональных данных, 
              | не могут быть раскрыты третьим лицам без вашего письменного согласия. 
              | Согласие может быть отозвано посредством направления письменного заявления 
              | (заказным письмом с пометкой 'ЦИТОВИР-3. Сайт') в адрес АО МБНПК 'ЦИТОМЕД': 
              | 194356, Санкт-Петербург, Орлово-Денисовский проспект, д.14, стр.1.