extends ../layout/page

block content
  .feedback
    .picture
    .content.oversize
      .container
        h1.title 
          | Родители о препарате
          br
          | Цитовир-3?
        ul.list
          li.item
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-1.jpeg", alt="img")
                .about
                  span.nickname Lyudakitun0505
                  span.date 27.02.2019
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-otzovik.svg", alt="img")
            .body
              h2.title Отличное лекарство.
              p.text 
                | Моему ребёнку это лекарство очень быстро помогает отправится от простудных и вирусных заболеваний. 
                | Пробовали очень много разных препаратов, но выбор наш пал на Цитовир-3, 
                | на четвёртый день приёма от болезни нет и следа.
              a.link(href="https://otzovik.com/review_7803428.html" target="_blank") Читать полностью
          li.item
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/default_photo.svg", alt="img")
                .about
                  span.nickname кристина-картина
                  span.date 16.10.2019
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-otzovik.svg", alt="img")
            .body
              h2.title Отлично помогает для лечения и профилактики ОРВИ и ГРИППа.
              p.text 
                | Моему ребёнку это лекарство очень быстро помогает отправится от простудных и вирусных заболеваний. 
                | Пробовали очень много разных препаратов, но выбор наш пал на Цитовир-3, 
                | на четвёртый день приёма от болезни нет и следа.
              a.link(href="https://otzovik.com/review_8881984.html" target="_blank") Читать полностью
          li.item
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-2.jpeg", alt="img")
                .about
                  span.nickname Велинесса
                  span.date 6.05.2019
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-recommend.png", alt="img")
            .body
              h2.title Нам этот сироп помогает уже на следующий день приема
              p.text 
                | Сироп Цитовир-3 нам помогает и действует очень быстро. 
                | Удобно упакован, вкусный и главное, помогает справиться с болезнью и не разболеться.
              a.link(href="https://irecommend.ru/content/nam-etot-sirop-pomogaet-uzhe-na-sleduyushchii-den-priema" target="_blank") Читать полностью
          li.item
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-4.jpeg", alt="img")
                .about
                  span.nickname ИришкаЛ
                  span.date 14.02.2019
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star-empty.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-otzovik.svg", alt="img")
            .body
              h2.title Помог выздороветь
              p.text 
                | Могу точно сказать, что "Цитовир-3" сыну помог, насморк прошел на второй день
              a.link(href="https://otzovik.com/review_7729173.html" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/default_photo.svg", alt="img")
                .about
                  span.nickname Юлия
                  span.date 12.02.2019
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-alfatabs.png", alt="img")
            .body
              h2.title Это была самая простая простуда
              p.text 
                | Выздоровели после трех дней приема. Пили до еды, больше ничего не принимали. 
                | Сначала были мысли, что нужно что-то еще начать давать, для более серьезного эффекта, 
                | но так как «цитовир» почти сразу стал действовать, решили подождать, чтобы разобраться, 
                | что еще из препаратов лучше давать для снятия симптомов.
              a.link(href="http://alfatabs.ru/immunostimuliruyushhie/tsitovir-3.html#comment-25555" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-6.jpg", alt="img")
                .about
                  span.nickname g1988alina
                  span.date 02.11.2018
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star-empty.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-otzovik.svg", alt="img")
            .body
              h2.title очень помогает при простуде
              p.text 
                | Уже после первого дня приема заметны были улучшения. 
                | Температура не держалась, как обычно 3 дня, а спала гораздо раньше. 
                | Консистенция не сильно густая, как в некоторых сиропах На вкус приятный, 
                | сладко-кислый, детям говорю, что жидкая витаминка ))))
              a.link(href="https://otzovik.com/review_7182126.html" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-7.jpeg", alt="img")
                .about
                  span.nickname Neona
                  span.date 06.07.2018
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-vseotzyvy.svg", alt="img")
            .body
              h2.title Хорошее средство
              p.text 
                | Нам повезло, считаю, так как нам сейчас очень хорошо помогает детский порошок "цитовир", 
                | о котором я вообще случайно узнала. У него безопасный состав, 
                | в нем минимум химии, даже сахара с антибиотиками нет.
              a.link(href="https://vseotzyvy.ru/item/21298/review/230532/" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/user-8.jpeg", alt="img")
                .about
                  span.nickname alissacat
                  span.date 15.02.2018
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star-empty.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-recommend.png", alt="img")
            .body
              h2.title Первый препарат с реальным результатом
              p.text 
                | Сироп рекомендую и покупать буду, но хочу напомнить, 
                | что давать его надо начинать при первых же признаках болезни и в указанной дозировке, 
                | чтобы он помогал.
              a.link(href="https://irecommend.ru/content/pervyi-preparat-s-realnym-rezultatom" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/default_photo.svg", alt="img")
                .about
                  span.nickname Марта
                  span.date 4.02.2018
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-otzyv.svg", alt="img")
            .body
              h2.title Чудесное средство
              p.text 
                | Удoбнoe, вce пoнятнo нaпиcaнo, инcтpукция пpoдублиpoвaнa пpямo нa бутылькe нa cлучaй, 
                | ecли впoпыxax выкинул кopoбку.
              a.link(href="https://ru.otzyv.com/tsitovir-3/review-424195" target="_blank") Читать полностью
          li.item.hidden
            .header
              .part.person
                .picture
                  img(src="./assets/img/feedback/users/default_photo.svg", alt="img")
                .about
                  span.nickname Lazuta
                  span.date 03.02.2018
              .part.stars.visible__md
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star.svg", alt="img")
                .star__item
                  img(src="./assets/img/feedback/star-empty.svg", alt="img")
              .part.source.visible__md
                .picture
                  img(src="./assets/img/feedback/icon-citykey.png", alt="img")
            .body
              h2.title Устранил начинающуюся простуду
              p.text 
                | Впервые давала это лекарство своему ребенку (2,5 года). 
                | Купила по рекомендации нашего лечащего врача, она сказала, 
                | что можно использовать его сразу при обнаружении первых признаков простуды 
                | (у нас это температура, сопли, сонливость и вялость у ребенка).
              a.link(href="http://citykey.net/review/ustranil-nachinayuschuyusya-prostudu" target="_blank") Читать полностью
        .open  
          a Больше отзывов
        .feedback__form
          .wpcf7
            form.form.wpcf7-form
              h2.title 
                | Вы можете оставить отзыв о Цитовир-3 
                br
                | на нашем сайте:
              div(style="display: none;")
                input(type="hidden" name="_wpcf7" value="309")
                input(type="hidden" name="_wpcf7_version" value="5.1.6")
                input(type="hidden" name="_wpcf7_locale" value="ru_RU")
                input(type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f309-o1")
                input(type="hidden" name="_wpcf7_container_post" value="0")
              
              .fields
                .part
                  .form__field
                    span.wpcf7-form-control-wrap
                      input(type="text" placeholder="Ваше имя")
                      span.bar
                  .form__field
                    span.wpcf7-form-control-wrap
                      input(type="text" placeholder="Ваш email")
                      span.bar
                .part
                  .form__field
                    span.wpcf7-form-control-wrap
                      textarea(placeholder="Текст отзыва")
              p
                input(type="hidden" name="_wpcf7_captcha_challenge_captcha-170" value="3154675385")
                img.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-170(width="72" height="24" alt="captcha" src="http://protiv-grippa.com/wp-content/uploads/wpcf7_captcha/3154675385.png")
                span.wpcf7-form-control-wrap.captcha-170
                  input.wpcf7-form-control.wpcf7-captchar(type="text" name="captcha-170" value="" size="4" maxlength="4" autocomplete="off" aria-invalid="false")
                input(type="submit" value='Отправить')
                span.ajax-loader
        .bottom
          .part
            p.text 
              | Безопасность препаратов и уверенность врача в эффективности продукции — безусловный приоритет в нашей работе. 
              | Просим вас информировать Службу фармаконадзора МБНПК «Цитомед», 
              | если в процессе применения препарата возникли какие-либо нежелательные явления, 
              | а также в случае сомнений в оригинальности или эффективности приобретенных лекарственных средств.
          .part
            .button
              a(href="https://cytomed.ru/farmakondzor/" target="_blank") Фармаконадзор