extends ../layout/page

block content
  .how-use
    .picture
    .content.oversize
      .container
        h1.title Как применять Цитовир-3?
        p 
          | Цитовир-3 в лекарственных формах сироп и порошок применяется для профилактики и 
          | комплексной терапии острых респираторных вирусных инфекций, в том числе гриппа, 
          | у детей от одного года.
        p 
          span.yellow Сироп готов к употреблению, из порошка необходимо приготовить раствор
          | : во флакон с порошком добавить 40 мл кипяченой воды комнатной температуры, 
          | взболтать до полного растворения. Объём раствора после добавления воды – 50 мл.
        .video
          iframe(width="560" height="315" src="https://www.youtube.com/embed/jfEH0NpE44I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p.important 
          b И сироп, и порошок следует давать детям за 30 минут до еды.
        .table
          .categories
            .row
              .cell
                span Возраст ребенка
            .row
              .cell
                span 1 - 3 
                span.text года
            .row
              .cell
                span 3 - 6 
                span.text лет
            .row
              .cell
                span 6 - 10 
                span.text лет
            .row
              .cell
                span.text старше 
                span 10 
                span.text лет
          .content-table
            .row
              .cell
                span Для лечения
              .cell
                span Для профилактики
                p При непосредственном контакте с больным гриппом или другими ОРВИ:
            .row
              .cell
                p 
                  | по 2 мл сиропа или раствора 
                  br
                  span 3 раза в день
              .cell
                p 
                  | по 2 мл сиропа или раствора 
                  br
                  span 3 раза в день
            .row
              .cell
                p 
                  | по 4 мл 
                  br
                  span 3 раза в день
              .cell
                p 
                  | по 4 мл 
                  br
                  span 3 раза в день
            .row
              .cell
                p 
                  | по 8 мл 
                  br
                  span 3 раза в день
              .cell
                p 
                  | по 8 мл 
                  br
                  span 3 раза в день
            .row
              .cell
                p 
                  | по 12 мл 
                  br
                  span 3 раза в день
              .cell
                p 
                  | по 12 мл 
                  br
                  span 3 раза в день
            .row
              p 
                b Курс применения – 4 дня

        p.important
          b Профилактический курс при необходимости можно повторить через 3 недели.
        p.center Подробную информацию о составе ипоказаниях к применению Цитовир-3 читайте в
        .button
          a.btn(href="/instructions.html") Инструкция