extends ../layout/page

block content
  .how
    .page__title
      .container
        h1.title 
          | Как работает
          br
          | Цитовир-3?
    .effect.oversize
      .container
        h2.title 
          | Цитовир-3 – комбинированный препарат для комплексного лечения и 
          br
          | профилактики гриппа и ОРВИ у детей в возрасте от 1 года
        ul.list
          li.item
            p
              | Защищает от 
              b всех типов возбудителей 
              | гриппа и ОРВИ
          li.item
            p
              | Сокращает продолжительность респираторного заболевания в среднем 
              br
              b на 2-3 дня
                sup 1
          li.item
            p
              | В среднем 
              b на сутки 
              | уменьшает продолжительность лихорадочной реакции
              sup 1
          li.item
            p
              b Снижает 
              | вероятность развития 
              b осложнений
                sup 2
          li.item
            p
              b Более 90% 
              | детей, принимавших Цитовир-3 в период сезонной вспышки гриппа и ОРВИ, 
              | в последующий месяц не заболели
              sup 2