extends ../layout/page

block content
  .how
    .page__title
      .container
        h1.title 
          | Как работает
          br
          | Цитовир-3?
    .effect.oversize
      .container
        h2.title 
          | Цитовир-3 – комбинированный препарат для комплексного лечения 
          br
          | и профилактики гриппа и ОРВИ у детей в возрасте от 1 года
        ul.list
          li.item
            p
              | Защищает от 
              b всех типов возбудителей 
              | гриппа и ОРВИ
          li.item
            p
              | Сокращает продолжительность респираторного заболевания в среднем 
              br
              b на 2-3 дня
                sup 1
          li.item
            p
              | В среднем 
              b на сутки 
              | уменьшает продолжительность лихорадочной реакции
              sup 1
          li.item
            p
              b Снижает 
              | вероятность развития 
              b осложнений
                sup 2
          li.item
            p
              b Более 90% 
              | детей, принимавших Цитовир-3 в период сезонной вспышки гриппа и ОРВИ, 
              | в последующий месяц не заболели
              sup 2
    .describe
      .container
        p
          sup 1 
          | Смирнов В.С. Профилактика и лечение гриппа и острых респираторных вирусных инфекций – СПб: АЙСИНГ, 2012. — 56 с
        p
          sup 2 
          | Смирнов В.С., Петленко С.В. Грипп и острые респираторные вирусные инфекции 
          | (характеристика, патогенез, профилактика и лечение), 
          | изд. 3-е, перераб. и доп. – СПб.: Гиппократ, 2019. – 248 с.: ил.
    .work
      .part
        h2.title 
          | Как это 
          br 
          | работает?
      .part
        h3.title 
          | Три лекарственных вещества дополняют и усиливают действие друг друга, 
          | что позволяет достичь быстрого лечебно-профилактического эффекта. Цитовир-3:
        p.text Активирует клетки, участвующие в поглощении и уничтожении возбудителей инфекций.
        p.text 
          | Повышает синтез секреторного иммуноглобулина А на слизистых, 
          | что уменьшает вероятность развития заболевания.
    .components.oversize
      .container
        ul.list
          li.item
            .picture
              img(src="./assets/img/components/component-1.png", alt="img")
            h3.title
              | Дибазол
              br
              span (бендазол гидрохлорид)
            p.text 
              | Как 
              span.tooltip адаптоген* 
                span.child * Адаптоге́ны — фармакологическая группа препаратов природного или искусственного происхождения, способных повышать неспецифическую сопротивляемость организма к широкому спектру вредных воздействий физической, химической и биологической природы.
              | отвечает за быструю и адекватную реакцию организма на контакт с инфекционными агентами. 
              | Активирует умеренную выработку в организме интерферонов, 
              | благодаря которым останавливается размножение вируса. 
              | При этом клетки не истощаются, работая в безопасном для них режиме. 
              | Нормализует иммунный ответ организма.
          li.item
            .picture
              img(src="./assets/img/components/component-2.png", alt="img")
            h3.title
              | Тимоген
              br
              span (альфа-глутамил-триптофан)
            p.text 
              | Регулирует Т-клеточное звено иммунитета (Т-лимфоциты), усиливает действие дибазола, 
              | поддерживает способность клеток к выработке интерферона на постоянном действенном уровне вследствие отмены фазы рефрактерности – 
              | все это помогает организму бороться с вирусом постоянно и на любой стадии заболевания. 
              | Способствует повышению местного иммунитета во входных воротах инфекции – 
              | слизистой верхних отделов дыхательных путей.
          li.item
            .picture
              img(src="./assets/img/components/component-3.png", alt="img")
            h3.title
              | Витамин С
              br
              span (аскорбиновая кислота)
            p.text 
              | Повышает защитные свойства организма за счет усиления антиоксидантных свойств клеток и их фагоцитарной активности. 
              | Смягчает симптоматику, уменьшает интенсивность и длительность интоксикации. 
              | Связывает образующиеся в процессе жизнедеятельности вирусов свободные радикалы и ускоряет вывод образовавшихся токсинов из организма. 
              | Оптимизирует и усиливает действие дибазола и тимогена.
    .message
      .container
        h2.title Короткие сроки лечения
        p.text 
          | Цитовир-3 помогает организму в короткие сроки нейтрализовать негативное воздействие вируса гриппа или ОРВИ, 
          | а также токсичных продуктов их жизнедеятельности. 
          | Эффективен при любой из 200 различных вирусных инфекции дыхательных путей и при всех штаммах гриппа.
        p.note Рекомендуется к применению при первых симптомах заболевания! 
    .details.oversize
      .container
        .button
          a.btn(href="") Как применять
        .item
          .part
            p.short Минимизация лекарственной нагрузки и защита от осложнений
          .part
            p.long 
              | Цитовир-3 повышает устойчивость организма не только к вирусам, 
              | но и к бактериальным инфекциям, предупреждая развитие возможных осложнений гриппа и ОРВИ (пневмония, астма, отит и др.). 
              | Это позволяет уберечь ребенка не только от опасных последствий болезни, 
              | но и от дополнительной лекарственной нагрузки: нет осложнений – нет необходимости принимать антибиотики. 
              | А аскорбиновая кислота в составе Цитовир-3 смягчает проявления болезни, 
              | что позволяет принимать меньше симптоматических средств. 
        .item
          .part
            p.short Минимальная вероятность побочных реакций и аллергии
          .part
            p.long 
              | Низкая вероятность развития нежелательных явлений и побочных реакций подтверждена многолетним мониторингом безопасности и качества препарата. 
              | Детские формы Цитовир-3 не содержат красителей, консервантов и искусственных добавок, а сироп и нейтральный вкус порошка не содержат также и ароматизаторов. 
              | Поэтому родители детей, склонных к аллергическим реакциям, выбирают именно эту форму.
    .button
      a.btn(href="") Узнать больше
    .research
      .container
        h2.title Эффективность и безопасность Цитовир-3 подтверждена многочисленными клиническими исследованиями:
        ul.list
          li.item
            a.content(href="http://cytomed.ru/2019/02/05/gripp-i-orvi/", target='_blank')
              p.authors В.С. Смирнов, С.В. Петленко
              h3.title 
                | Грипп и острые респираторные вирусные инфекции 
                span (характеристика, патогенез, профилактика и лечение)  
                span.arrow
          li.item
            a.content(href="http://cytomed.ru/2017/01/03/immunomoduliruyushhaya-terapiya-i-profilaktika-respiratornyx-patologij-pri-vtorichnyx-immunodeficitnyx-sostoyaniyax-vyzvannyx-vneshnimi-ximicheskimi-faktorami/", target='_blank')
              p.authors С.В. Петленко
              h3.title 
                | Иммуномодулирующая терапия и профилактика респираторных патологий при вторичных иммунодефицитных состояниях, вызванных внешними химическими факторами 
                span.arrow
          li.item
            a.content(href="http://cytomed.ru/2016/11/18/sravnitelnaya-kliniko-laboratornaya-effektivnost-preparatov-dlya-patogeneticheskogo-lecheniya-ostryx-respiratornyx-virusnyx-infekcij/", target='_blank')
              p.authors Л.В. Осидак, С.В. Петленко, В.С. Смирнов, Н.И. Стукань
              h3.title 
                | Сравнительная клинико-лабораторная эффективность препаратов для патогенетического лечения острых респираторных вирусных инфекций 
                span.arrow
          li.item
            a.content(href="http://cytomed.ru/2014/01/15/vozdejstvie-na-kletochnye-misheni-kak-sredstvo-borby-s-grippoznoj-infekciej/", target='_blank')
              p.authors В.В. Зарубаев, В.С. Смирнов
              h3.title 
                | Воздействие на клеточные мишени как средство борьбы с гриппозной инфекцией 
                span.arrow
        p.link
          a(href="http://cytomed.ru/category/materialy-i-issledovaniya/citovir-3/", target='_blank') Читать все публикации
    .quote.orange
      .cloud
        p 
          | Узнайте 
          br
          | стоимость курса
        a.btn(href="https://apteka.ru/preparation/tsitovir-3/?utm_source=protiv-grippa.com&utm_medium=knopka&utm_campaign=cytovir-3", target='_blank') Здесь