extends ../layout/page

block content
  .instructions
    .container
      .block__title
        h1.title инструкция
        p.subtitle по медицинскому применению препарата Цитовир®-3
      .content
        ul.tab__list(data-tabgroup="first-tab-group")
          li.tab
            a.active(href="#tab1") сироп
          li.tab
            a(href="#tab2") порошок
        .inner.tabgroup#first-tab-group
          .text#tab1
            .top
              .part
                .picture
                  img(src="./assets/img/sirop-pack.png", alt="img")
              .part.visible__md
                a.scroll(href="#composition") Состав
                a.scroll(href="#description") Описание
                a.scroll(href="#properties") Фармакологические свойства
                a.scroll(href="#indications") Показания к применению
                a.scroll(href="#contraindications") Противопоказания
                a.scroll(href="#dosage") Способ применения и дозы
                a.scroll(href="#rules") Правила приготовления раствора
                a.scroll(href="#sideeffect") Побочное действие
                a.scroll(href="#interaction") Взаимодействие с др. лекарственными средствами
                a.scroll(href="#release") Форма выпуска
                a.scroll(href="#storage") Условия хранения
                a.scroll(href="#expiration") Срок годности
                a.scroll(href="#terms") Условия отпуска
                a.scroll(href="#adress") Наименование, адрес производителя
            .bottom
              p
                span.title Регистрационный номер: 
                | ЛП-000423 от 23.12.16 Минздрав России
              p
                span.title Торговое название препарата: 
                | Цитовир®-3
              p
                span.title Группировочное название: 
                | Альфа-глутамил-триптофан + Аскорбиновая кислота + Бендазол
              p
                span.title Лекарственная форма: 
                | порошок для приготовления раствора для приема внутрь [для детей] [без ароматизаторов, апельсиновый, клубничный, клюквенный]
              p#composition
                span.title Состав (на 1 мл готового раствора):
                span.subtitle Активные вещества:
                | Альфа-глутамил-триптофан (Тимоген натрия в пересчете на тимоген) 0,15 мг 
                | Аскорбиновая кислота 12 мг Бендазол гидрохлорид [Дибазол] 1,25 мг
                span.subtitle Вспомогательные вещества:
                | Лактоза моногидрат 20 мг
                span.subtitle В препарате без ароматизатора: 
                | Фруктоза 366,6 мг
                span.subtitle В препарате c ароматизатором: 
                | Фруктоза 366,2 мг. 
                | Ароматизатор идентичный натуральному «Апельсин» или «Клюква», или «Клубника» 0,4 мг
              p#description
                span.title Описание: 
                | Порошок белого или белого с жёлтым оттенком цвета. 
                | Водный раствор без запаха или с характерным запахом апельсина или клюквы, 
                | или клубники.
              p
                span.title Фармакотерапевтическая группа: 
                | иммуностимулирующее средство.
              p
                span.title Код АТХ: 
                | L03AХ.
              p#properties
                span.title Фармакологические свойства:
              p
                span.title Фармакодинамика: 
                | препарат является средством этиотропной и иммуностимулирующей терапии, 
                | обладает опосредованным противовирусным действием в отношении вирусов гриппа А и В и других вирусов, 
                | вызывающих острые респираторные заболевания. 
                br
                | Препарат снижает выраженность основных клинических симптомов гриппа и ОРВИ, 
                | а также сокращает продолжительность проявления симптомов заболевания. 
                br
                | Бендазол индуцирует в организме выработку эндогенного интерферона, 
                | обладает иммуномодулирующим действием (нормализует иммунный ответ организма). 
                | Ферменты, выработка которых индуцируется интерфероном в клетках различных органов, 
                | ингибируют репликацию вирусов. 
                br
                | Альфа-глутамил-триптофан (тимоген) является синергистом иммуномодулирующего действия бендазола, 
                | нормализуя Т-клеточное звено иммунитета. 
                br
                | Аскорбиновая кислота активирует гуморальное звено иммунитета, 
                | нормализует проницаемость капилляров, уменьшая тем самым воспаление, 
                | и проявляет антиоксидантные свойства, нейтрализуя кислородные радикалы, 
                | сопровождающие воспалительный процесс, повышает устойчивость организма к инфекции.
              p
                span.title Фармакокинетика: 
                | при приеме внутрь препарат полностью всасывается из желудочно-кишечного тракта. Биодоступность бендазола – около 80 %, 
                | альфа-глутамил-триптофана – не более 15 %, аскорбиновой кислоты – до 70 %. 
                br
                | Аскорбиновая кислота абсорбируется в ЖКТ (преимущественно в тощей кишке). 
                | Связь с белками плазмы – 25 %. TCmax после приема внутрь – 4 ч. 
                | Легко проникает в лейкоциты, тромбоциты, а затем во все ткани, проникает через плаценту. 
                | Заболевания ЖКТ (язвенная болезнь желудка и 12-перстной кишки, нарушения моторики кишечника, глистная инвазия, лямблиоз), 
                | употребление овощных и фруктовых соков, щелочного питья уменьшают связывание аскорбиновой кислоты в кишечнике. 
                | Метаболизируется аскорбиновая кислота преимущественно в печени в дезоксиаскорбиновую, далее в щавелевоуксусную и дикетогулоновую кислоты. 
                | Выводится почками, через кишечник, с потом, грудным молоком в неизмененном виде и в виде метаболитов. 
                br
                | Продуктами биотрансформации бендазола в крови являются два конъюгата, 
                | образующиеся вследствие метилирования и карбоэтоксилирования иминогруппы имидазольного кольца бендазола: 
                | 1-метил-2-бензилбензимидазол и 1-карбоэтокси-2-бензилбензимидазол. 
                | Метаболиты бендазола выводятся с мочой. 
                | Альфа-глутамил-триптофан под воздействием пептидаз расщепляется на L-глутаминовую кислоту и L-триптофан, 
                | которые используются организмом в синтезе белка.
              p#indications
                span.title Показания к применению: 
                | профилактика и комплексная терапия гриппа и острых респираторных вирусных инфекций у детей от одного года.
              p#contraindications
                span.title Противопоказания: 
                | гиперчувствительность к компонентам препарата, сахарный диабет, дефицит лактазы, непереносимость галактозы, 
                | глюкозо-галактозная мальабсорбция, беременность, детский возраст до 1 года. 
                | В случае необходимости, пожалуйста, проконсультируйтесь с врачом перед приемом препарата.
              p
                span.title Меры предосторожности при применении: 
                | Проконсультируйтесь с врачом перед приемом препарата, 
                | если у вас непереносимость некоторых сахаров или артериальная гипотензия.
              p
                span.title Применение при беременности и в период грудного вскармливания:
                | в период беременности прием препарата не показан в связи с недостаточными клиническими данными. 
                | В период грудного вскармливания применение возможно, если предполагаемая польза для матери превышает потенциальный риск для ребенка. 
                | В случае необходимости приема препарата в период грудного вскармливания, пожалуйста, проконсультируйтесь с врачом.
              p#dosage
                span.title Способ применения и дозы:
                | схемы лечебного и профилактического применения идентичны. 
                | Внутрь за 30 мин до еды.
                br
                | Для детей в возрасте от 1 до 3 лет – по 2 мл раствора 3 раза в день; 
                br
                | для детей в возрасте от 3 до 6 лет – по 4 мл 3 раза в день;
                br
                | для детей в возрасте от 6 до 10 лет – по 8 мл 3 раза в день;
                br
                | для детей в возрасте старше 10 лет – по 12 мл 3 раза в день.
                br
                | Курс применения – 4 дня. 
                | Если через 3 дня лечения улучшения не наступает или симптомы усугубляются, 
                | или появляются новые симптомы, необходимо проконсультироваться с врачом. 
                br
                | Профилактический курс при необходимости повторяют через 3-4 недели. 
              p#rules
                span.title Правила приготовления раствора:
                | во флакон с порошком добавить 40 мл воды (кипяченой, охлажденной до комнатной температуры), хорошо взболтать. Содержимое должно полностью раствориться. 
                | Объем раствора после добавления воды – 50 мл. 
                | Принимайте препарат только согласно тому способу применения и тех дозах, которые указаны в инструкции. 
                | В случае необходимости, пожалуйста, проконсультируйтесь с врачом перед приемом препарата. 
                | Применяйте препарат только согласно тем показаниям, которые указаны в инструкции.
              p#sideeffect
                span.title Побочное действие: 
                | кратковременное снижение артериального давления. Возможны аллергические реакции: крапивница. 
                | В этих случаях применение препарата прекращают и назначают симптоматическое лечение, антигистаминные средства. 
                | Проконсультируйтесь с врачом, если у Вас проявились упомянутые побочные эффекты или другие побочные эффекты, не указанные в инструкции. 
                | Если побочные эффекты, указанные в инструкции, усугубляются, сообщите об этом врачу.
              p
                span.title Передозировка:  
                | случаи передозировки не описаны.
              p#interaction
                span.title Взаимодействие с другими лекарственными средствами: 
                | Взаимодействие альфа-глутамил-триптофана с лекарственными средствами не выявлено. 
                | Бендазол препятствует увеличению общего периферического сопротивления сосудов, обусловленному применением неселективных бета-адреноблокаторов. 
                | Усиливает гипотензивное (снижение артериального давления) действие гипотензивных и диуретических лекарственных средств. 
                | Фентоламин усиливает гипотензивное действие бендазола. 
                | Аскорбиновая кислота повышает концентрацию в крови антибактериальных препаратов тетрациклинового ряда и бензилпенициллина. 
                | Улучшает всасывание в кишечнике препаратов Fe. 
                | Снижает эффективность гепарина и непрямых антикоагулянтов. 
                br
                | Ацетилсалициловая кислота (АСК), пероральные контрацептивы, свежие соки и щелочное питье снижают ее всасывание и усвоение. 
                | При одновременном применении с АСК повышается выделение с мочой аскорбиновой кислоты и снижается выделение АСК. 
                | АСК снижает абсорбцию аскорбиновой кислоты примерно на 30%. 
                | Аскорбиновая кислота увеличивает риск развития кристаллурии при применении препаратов, 
                | содержащих ацетилсалициловую кислоту (АСК) и сульфаниламидами короткого действия, замедляет выведение почками кислот, 
                | увеличивает выведение лекарственных средств имеющих щелочную реакцию (в т.ч. алкалоидов), снижает концентрацию в крови пероральных контрацептивов. 
                | При одновременном применении уменьшает хронотропное действие изопреналина. 
                | Уменьшает терапевтическое действие антипсихотических лекарственных средств (нейролептиков) – производных фенотиазина, 
                | канальцевую реабсорбцию амфетамина и трициклических антидепрессантов. 
                | Барбитураты и примидон повышают выведение аскорбиновой кислоты с мочой. 
                br
                | Возможно одновременное применение с противовирусными препаратами и средствами симптоматической терапии гриппа и ОРВИ.
                br
                | Проконсультируйтесь с врачом, если Вы принимаете указанные в разделе и другие препараты.
              p
                span.title Особые указания:  
                | после повторного курса рекомендован контроль концентрации глюкозы в крови.
              p
                span.title Влияние на способность управлять транспортными средствами, механизмами: 
                | Препарат не влияет на способность управлять транспортными средствами, 
                | работать с движущимися механизмами и заниматься другими потенциально опасными видами деятельности, 
                | требующими повышенной концентрации внимания и быстроты психомоторных реакций.
              p#release
                span.title Форма выпуска:  
                | порошок для приготовления раствора для приема внутрь [для детей] [без ароматизаторов, апельсиновый, клубничный, клюквенный]. 
                | По 20 г во флаконе темного стекла или полимерном флаконе. 
                | Флакон укупоривают пластмассовой крышкой с контролем первого вскрытия или пластмассовой крышкой с контролем первого вскрытия и защитой от детей. 
                | По одному флакону помещают в пачку из картона. 
                | Инструкцию по применению вкладывают в пачку или в виде сложенного листка помещают под открывающуюся часть этикетки. 
                | В пачку вкладывают дозирующее устройство (мерный стаканчик или ложка дозировочная, или пипетка дозировочная). 
                | Допускается вкладывать в пачку два дозирующих устройства (мерный стаканчик и ложку дозировочную или мерный стаканчик и пипетку дозировочную).
              p#storage
                span.title Условия хранения:  
                | хранить в сухом месте при температуре не выше 25 оС. Хранить в недоступном для детей месте. 
                | Приготовленный раствор хранить в защищенном от света месте при температуре от 2 оС до 8 оС.
              p#expiration
                span.title Срок годности: 
                | 3 года. Срок годности приготовленного раствора 10 суток. 
                | Не использовать по истечении срока годности, указанного на упаковке.
              p#terms
                span.title Условия отпуска: 
                | отпускается без рецепта.
              p#adress
                span.title Наименование, адрес производителя лекарственного препарата и адрес места производства:
                | АО «Медико-Биологический научно-производственный комплекс «Цитомед», Россия, 191023, 
                | г. Санкт-Петербург, Мучной пер. д.2, тел./факс: 8(800)505-03-01, 
                a(href="http://cytomed.ru/" target='_blank') www.cytomed.ru 
                br
                | Адрес места производства: 199178, г. Санкт-Петербург, Васильевский остров, Малый проспект, д. 57, корп.4, лит. Ж
                .docs 
                  a.btn(href="./assets/img/pdf/powder-instr.pdf" target='_blank') 
                    span 
                      | Скачать инструкцию 
                      br
                      | Российская Федерация
                  a.btn(href="./assets/img/pdf/powder-udostov.pdf" target='_blank') 
                    span 
                      | Скачать Рег. удостоверение 
                      br
                      | Российская Федерация
          .text#tab2
            .top
              .part
                .picture
                  img(src="./assets/img/powder-pack.png", alt="img")
              .part.visible__md
                a.scroll(href="#composition-2") Состав
                a.scroll(href="#description-2") Описание
                a.scroll(href="#properties-2") Фармакологические свойства
                a.scroll(href="#indications-2") Показания к применению
                a.scroll(href="#contraindications-2") Противопоказания
                a.scroll(href="#dosage-2") Способ применения и дозы
                a.scroll(href="#rules-2") Правила приготовления раствора
                a.scroll(href="#sideeffect-2") Побочное действие
                a.scroll(href="#interaction-2") Взаимодействие с др. лекарственными средствами
                a.scroll(href="#release-2") Форма выпуска
                a.scroll(href="#storage-2") Условия хранения
                a.scroll(href="#expiration-2") Срок годности
                a.scroll(href="#terms-2") Условия отпуска
                a.scroll(href="#adress-2") Наименование, адрес производителя
            .bottom
              p
                span.title Регистрационный номер: 
                | ЛП-000423 от 23.12.16 Минздрав России
              p
                span.title Торговое название препарата: 
                | Цитовир®-3
              p
                span.title Группировочное название: 
                | Альфа-глутамил-триптофан + Аскорбиновая кислота + Бендазол
              p
                span.title Лекарственная форма: 
                | Сироп от бесцветного до жёлтого цвета
              p#composition-2
                span.title Состав (на 1 мл готового раствора):
                span.subtitle Активные вещества:
                | Альфа-глутамил-триптофан натрий [Тимоген натрий] 0,15 мг (в пересчете на альфа-глутамил-триптофан)
                | Аскорбиновая кислота 12 мг
                | Бендазола гидрохлорид (дибазол) 1,25 мг
                span.subtitle Вспомогательные вещества:
                | Сахароза 800,0 мг
                | Вода очищенная до 1 мл
                span.subtitle Вспомогательные вещества:
                | Лактоза моногидрат 20 мг
                span.subtitle В препарате без ароматизатора: 
                | Фруктоза 366,6 мг
                span.subtitle В препарате c ароматизатором: 
                | Фруктоза 366,2 мг. 
                | Ароматизатор идентичный натуральному «Апельсин» или «Клюква», или «Клубника» 0,4 мг
              p#description-2
                span.title Описание: 
                | Порошок белого или белого с жёлтым оттенком цвета. 
                | Водный раствор без запаха или с характерным запахом апельсина или клюквы, 
                | или клубники.
              p
                span.title Фармакотерапевтическая группа: 
                | иммуностимулирующее средство.
              p
                span.title Код АТХ: 
                | L03AХ.
              p#properties-2
                span.title Фармакологические свойства:
              p
                span.title Фармакодинамика: 
                | препарат является средством этиотропной и иммуностимулирующей терапии, 
                | обладает опосредованным противовирусным действием в отношении вирусов гриппа А и В и других вирусов, 
                | вызывающих острые респираторные заболевания. 
                br
                | Препарат снижает выраженность основных клинических симптомов гриппа и ОРВИ, 
                | а также сокращает продолжительность проявления симптомов заболевания. 
                br
                | Бендазол индуцирует в организме выработку эндогенного интерферона, 
                | обладает иммуномодулирующим действием (нормализует иммунный ответ организма). 
                | Ферменты, выработка которых индуцируется интерфероном в клетках различных органов, 
                | ингибируют репликацию вирусов. 
                br
                | Альфа-глутамил-триптофан (тимоген) является синергистом иммуномодулирующего действия бендазола, 
                | нормализуя Т-клеточное звено иммунитета. 
                br
                | Аскорбиновая кислота активирует гуморальное звено иммунитета, 
                | нормализует проницаемость капилляров, уменьшая тем самым воспаление, 
                | и проявляет антиоксидантные свойства, нейтрализуя кислородные радикалы, 
                | сопровождающие воспалительный процесс, повышает устойчивость организма к инфекции.
              p
                span.title Фармакокинетика: 
                | при приеме внутрь препарат полностью всасывается из желудочно-кишечного тракта. Биодоступность бендазола – около 80 %, 
                | альфа-глутамил-триптофана – не более 15 %, аскорбиновой кислоты – до 70 %. 
                br
                | Аскорбиновая кислота абсорбируется в ЖКТ (преимущественно в тощей кишке). 
                | Связь с белками плазмы – 25 %. TCmax после приема внутрь – 4 ч. 
                | Легко проникает в лейкоциты, тромбоциты, а затем во все ткани, проникает через плаценту. 
                | Заболевания ЖКТ (язвенная болезнь желудка и 12-перстной кишки, нарушения моторики кишечника, глистная инвазия, лямблиоз), 
                | употребление овощных и фруктовых соков, щелочного питья уменьшают связывание аскорбиновой кислоты в кишечнике. 
                | Метаболизируется аскорбиновая кислота преимущественно в печени в дезоксиаскорбиновую, далее в щавелевоуксусную и дикетогулоновую кислоты. 
                | Выводится почками, через кишечник, с потом, грудным молоком в неизмененном виде и в виде метаболитов. 
                br
                | Продуктами биотрансформации бендазола в крови являются два конъюгата, 
                | образующиеся вследствие метилирования и карбоэтоксилирования иминогруппы имидазольного кольца бендазола: 
                | 1-метил-2-бензилбензимидазол и 1-карбоэтокси-2-бензилбензимидазол. 
                | Метаболиты бендазола выводятся с мочой. 
                | Альфа-глутамил-триптофан под воздействием пептидаз расщепляется на L-глутаминовую кислоту и L-триптофан, 
                | которые используются организмом в синтезе белка.
              p#indications-2
                span.title Показания к применению: 
                | профилактика и комплексная терапия гриппа и острых респираторных вирусных инфекций у детей от одного года.
              p#contraindications-2
                span.title Противопоказания: 
                | гиперчувствительность к компонентам препарата, сахарный диабет, дефицит лактазы, непереносимость галактозы, 
                | глюкозо-галактозная мальабсорбция, беременность, детский возраст до 1 года. 
                | В случае необходимости, пожалуйста, проконсультируйтесь с врачом перед приемом препарата.
              p
                span.title Меры предосторожности при применении: 
                | Проконсультируйтесь с врачом перед приемом препарата, 
                | если у вас непереносимость некоторых сахаров или артериальная гипотензия.
              p
                span.title Применение при беременности и в период грудного вскармливания:
                | в период беременности прием препарата не показан в связи с недостаточными клиническими данными. 
                | В период грудного вскармливания применение возможно, если предполагаемая польза для матери превышает потенциальный риск для ребенка. 
                | В случае необходимости приема препарата в период грудного вскармливания, пожалуйста, проконсультируйтесь с врачом.
              p#dosage-2
                span.title Способ применения и дозы:
                | схемы лечебного и профилактического применения идентичны. 
                | Внутрь за 30 мин до еды.
                br
                | Для детей в возрасте от 1 до 3 лет – по 2 мл раствора 3 раза в день; 
                br
                | для детей в возрасте от 3 до 6 лет – по 4 мл 3 раза в день;
                br
                | для детей в возрасте от 6 до 10 лет – по 8 мл 3 раза в день;
                br
                | для детей в возрасте старше 10 лет – по 12 мл 3 раза в день.
                br
                | Курс применения – 4 дня. 
                | Если через 3 дня лечения улучшения не наступает или симптомы усугубляются, 
                | или появляются новые симптомы, необходимо проконсультироваться с врачом. 
                br
                | Профилактический курс при необходимости повторяют через 3-4 недели. 
              p#rules-2
                span.title Правила приготовления раствора:
                | во флакон с порошком добавить 40 мл воды (кипяченой, охлажденной до комнатной температуры), хорошо взболтать. Содержимое должно полностью раствориться. 
                | Объем раствора после добавления воды – 50 мл. 
                | Принимайте препарат только согласно тому способу применения и тех дозах, которые указаны в инструкции. 
                | В случае необходимости, пожалуйста, проконсультируйтесь с врачом перед приемом препарата. 
                | Применяйте препарат только согласно тем показаниям, которые указаны в инструкции.
              p#sideeffect-2
                span.title Побочное действие: 
                | кратковременное снижение артериального давления. Возможны аллергические реакции: крапивница. 
                | В этих случаях применение препарата прекращают и назначают симптоматическое лечение, антигистаминные средства. 
                | Проконсультируйтесь с врачом, если у Вас проявились упомянутые побочные эффекты или другие побочные эффекты, не указанные в инструкции. 
                | Если побочные эффекты, указанные в инструкции, усугубляются, сообщите об этом врачу.
              p
                span.title Передозировка:  
                | случаи передозировки не описаны.
              p#interaction-2
                span.title Взаимодействие с другими лекарственными средствами: 
                | Взаимодействие альфа-глутамил-триптофана с лекарственными средствами не выявлено. 
                | Бендазол препятствует увеличению общего периферического сопротивления сосудов, обусловленному применением неселективных бета-адреноблокаторов. 
                | Усиливает гипотензивное (снижение артериального давления) действие гипотензивных и диуретических лекарственных средств. 
                | Фентоламин усиливает гипотензивное действие бендазола. 
                | Аскорбиновая кислота повышает концентрацию в крови антибактериальных препаратов тетрациклинового ряда и бензилпенициллина. 
                | Улучшает всасывание в кишечнике препаратов Fe. 
                | Снижает эффективность гепарина и непрямых антикоагулянтов. 
                br
                | Ацетилсалициловая кислота (АСК), пероральные контрацептивы, свежие соки и щелочное питье снижают ее всасывание и усвоение. 
                | При одновременном применении с АСК повышается выделение с мочой аскорбиновой кислоты и снижается выделение АСК. 
                | АСК снижает абсорбцию аскорбиновой кислоты примерно на 30%. 
                | Аскорбиновая кислота увеличивает риск развития кристаллурии при применении препаратов, 
                | содержащих ацетилсалициловую кислоту (АСК) и сульфаниламидами короткого действия, замедляет выведение почками кислот, 
                | увеличивает выведение лекарственных средств имеющих щелочную реакцию (в т.ч. алкалоидов), снижает концентрацию в крови пероральных контрацептивов. 
                | При одновременном применении уменьшает хронотропное действие изопреналина. 
                | Уменьшает терапевтическое действие антипсихотических лекарственных средств (нейролептиков) – производных фенотиазина, 
                | канальцевую реабсорбцию амфетамина и трициклических антидепрессантов. 
                | Барбитураты и примидон повышают выведение аскорбиновой кислоты с мочой. 
                br
                | Возможно одновременное применение с противовирусными препаратами и средствами симптоматической терапии гриппа и ОРВИ.
                br
                | Проконсультируйтесь с врачом, если Вы принимаете указанные в разделе и другие препараты.
              p
                span.title Особые указания:  
                | после повторного курса рекомендован контроль концентрации глюкозы в крови.
              p
                span.title Влияние на способность управлять транспортными средствами, механизмами: 
                | Препарат не влияет на способность управлять транспортными средствами, 
                | работать с движущимися механизмами и заниматься другими потенциально опасными видами деятельности, 
                | требующими повышенной концентрации внимания и быстроты психомоторных реакций.
              p#release-2
                span.title Форма выпуска:  
                | порошок для приготовления раствора для приема внутрь [для детей] [без ароматизаторов, апельсиновый, клубничный, клюквенный]. 
                | По 20 г во флаконе темного стекла или полимерном флаконе. 
                | Флакон укупоривают пластмассовой крышкой с контролем первого вскрытия или пластмассовой крышкой с контролем первого вскрытия и защитой от детей. 
                | По одному флакону помещают в пачку из картона. 
                | Инструкцию по применению вкладывают в пачку или в виде сложенного листка помещают под открывающуюся часть этикетки. 
                | В пачку вкладывают дозирующее устройство (мерный стаканчик или ложка дозировочная, или пипетка дозировочная). 
                | Допускается вкладывать в пачку два дозирующих устройства (мерный стаканчик и ложку дозировочную или мерный стаканчик и пипетку дозировочную).
              p#storage-2
                span.title Условия хранения:  
                | хранить в сухом месте при температуре не выше 25 оС. Хранить в недоступном для детей месте. 
                | Приготовленный раствор хранить в защищенном от света месте при температуре от 2 оС до 8 оС.
              p#expiration-2
                span.title Срок годности: 
                | 3 года. Срок годности приготовленного раствора 10 суток. 
                | Не использовать по истечении срока годности, указанного на упаковке.
              p#terms-2
                span.title Условия отпуска: 
                | отпускается без рецепта.
              p#adress-2
                span.title Наименование, адрес производителя лекарственного препарата и адрес места производства:
                | АО «Медико-Биологический научно-производственный комплекс «Цитомед», Россия, 191023, 
                | г. Санкт-Петербург, Мучной пер. д.2, тел./факс: 8(800)505-03-01, 
                a(href="http://cytomed.ru/" target='_blank') www.cytomed.ru 
                br
                | Адрес места производства: 199178, г. Санкт-Петербург, Васильевский остров, Малый проспект, д. 57, корп.4, лит. Ж
              .docs 
                a.btn(href="./assets/img/pdf/syrop-instr.pdf" target='_blank') 
                  span 
                    | Скачать инструкцию 
                    br
                    | Российская Федерация
                a.btn(href="./assets/img/pdf/syrop-udostov.pdf" target='_blank') 
                  span 
                    | Скачать Рег. удостоверение 
                    br
                    | Российская Федерация