extends ../layout/page

block content
  .recommend.oversize
    .picture
    .content
      .container
        .chick
          img(src="./assets/img/chick/chick-5.png", alt="img")
        h2.title 
          | Ведущие российские врачи 
          br
          | о препарате Цитовир-3
        ul.list
          li.item
            h3.title НИИ гриппа РАМН
            p.text 
              | «За все время медицинского применения комплекса «Цитовир-3» 
              | не было отмечено ни одного случая каких-либо осложнений и побочных эффектов.
              | Более того, врачи поликлинического звена отмечают хорошую переносимость препарата, 
              | и заметно более легкое течение заболевания без каких-либо осложнений»
            p.read 
              a(href="/review-1.html") читать отзыв
            .doctor
              .photo
                img(src="./assets/img/doctors/doctor-1.jpg", alt="img")
              .about
                p.name 
                  | Дриневский
                  br
                  | Владимир Павлович
                p.spec доктор медицинских наук, профессор
          li.item
            h3.title НИИ детских инфекций ФМБА России
            p.text 
              | «Показана эффективность составляющих компонентов и препарата в целом для профилактики и 
              | лечения (на ранних стадиях) вирусных инфекций. 
              | Результаты, представленные в документации, 
              | позволяют рекомендовать «Цитовир-3» для детей к внедрению в медицинскую практику.»
            p.read 
              a(href="/review-2.html") читать отзыв
            .doctor
              .photo
                img(src="./assets/img/doctors/doctor-2.jpg", alt="img")
              .about
                p.name 
                  | Харит
                  br
                  | Сусанна Михайловна
                p.spec доктор медицинских наук, профессор
          li.item
            h3.title Лаборатория иммунологии НИИ АГиР им. Д.О. Отта
            p.text 
              | «Благодаря рациональному сочетанию компонентов «Цитовир-3» обладает противовирусной активностью, 
              | иммуномодулирующими и антиоксидантными свойствами. 
              | Не уступая по эффективности лечебно-профилактического действия в отношении гриппа и ОРВИ 
              | зарубежным средствам, «Цитовир-3» имеет целый ряд преимуществ.»
            p.read 
              a(href="/review-3.html") читать отзыв
            .doctor
              .photo
                img(src="./assets/img/doctors/doctor-3.jpg", alt="img")
              .about
                p.name 
                  | Сельков
                  br
                  | Сергей Алексеевич
                p.spec доктор медицинских наук, профессор
          li.item
            h3.title Институт экспериментальной медицины
            p.text 
              | «Наибольшая эффективность установлена при профилактическом применении препарата особенно в организованных коллективах. 
              | Несомненным его достоинством является способность усиливать гуморальный иммунный ответ на вирусные антигены.»
            p.read 
              a(href="/review-4.html") читать отзыв
            .doctor
              .photo
                img(src="./assets/img/doctors/doctor-4.jpg", alt="img")
              .about
                p.name 
                  | Фрейдлин 
                  br
                  | Ирина Соломоновна
                p.spec доктор медицинских наук, профессор 
        .quote
          .cloud
            p Узнайте, как работает Цитовир-3
            a.btn(href="") Узнать
    .aword
      .container
        h2.title 
          | Цитовир-3 для детей - 
          br
          | выбор российских педиатров  
          br
          | на Russian Pharma Awards-2016
        .block
          .round
            .text
              .picture
                img(src="./assets/img/diploma.png", alt="img")
              p.title Препарат стал лауреатом в номинации
              p 
                b «Иммуномодулятор выбора в острый период респираторной инфекции у часто болеющих детей».
          .round
            .text
              .picture
                img(src="./assets/img/aword-bg.jpg", alt="img")
        p.text
          | Премия Russian Pharma Awards - независимая профессиональная награда, 
          | позволяющая оценить и выбрать лучшие с точки зрения практикующих специалистов медицинские препараты. 
          | В анонимном голосовании участвуют более 500 тысяч врачей России. 
          | Именно такое компетентное независимое жюри делает gремию настолько престижной.