extends ../layout/page

block content
  .recommend
    .picture
      img(src="./assets/img/recommend-bg.jpg", alt="img")
    .content
      .container
        .chick
          img(src="./assets/img/chick/chick-5.png", alt="img")
        h2.title Ведущие российские врачи о препарате Цитовир-3
        ul.list
          li.item
            h3.title НИИ Гриппа РАМН
            p.text 
              | «За все время медицинского применения комплекса «Цитовир-3» 
              | не было отмечено ни одного случая каких-либо осложнений и побочных эффектов. 
              | Более того, врачи поликлинического звена отмечают хорошую переносимость препарата, 
              | и заметно более легкое течение заболевания без каких-либо осложнений»
            .doctor
              .photo
                img(src="./assets/img/doctors/doctor-1.jpg", alt="img")
              .about
                p.name Дриневский Владимир Павлович
                p.spec Доктор медицинских наук, профессор
    .aword
      .container
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, odit!
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic, odit!