extends ../layout/page

block content
  .review
    .picture
    .content.oversize
      .container
        .text
          .person
            .photo
              img(src="/assets/img/doctors/doctor-4.jpg", alt="img", loading='lazy')
            .about
              p.name Фрейдлин Ирина Соломоновна
              p.short Ведущий советский и российский иммунолог и аллерголог, долгое время возглавляла отдел иммунологии Института экспериментальной медицины (СПб).
              p.long Доктор медицинских наук, профессор кафедры микробиологии, вирусологии и иммунологии Санкт-Петербургского медицинского университета им. академика И. П. Павлова, член-корреспондент РАН, Заслуженный деятель науки РФ. Председатель Правления Санкт-Петербургского отделения Российской ассоциации аллергологов и клинических иммунологов, член правления Российского научного общества иммунологов. Является главным редактором научного журнала «Медицинская иммунология», членом редколлегий журналов «Цитокины и воспаление», «Иммунология», Russian Journal of Immunology. Под её руководством выполнено 4 докторских и 21 кандидатская диссертация. Автор 230-ти научных работ (172 в соавторстве), в том числе 9 монографий, 6 руководств, 1 справочника и 5 учебников.
            .logo.visible__md
              img(src="/assets/img/doctors/icon-4.jpg", alt="img", loading='lazy')
          h1.question Заключение об иммуномодулирующих свойствах комплексного препарата «Цитовир-3»
          p
            | В структуре инфекционной заболеваемости грипп и острые респираторные вирусные инфекции занимают доминирующее положение. Значительные социально-экономические потери, обусловленные этими формами заболеваний, заставляют настойчиво искать новые формы их медикаментозной профилактики и лечения. Быстрая изменчивость и широкий спектр возбудителей респираторных инфекций делают предпочтительной разработку фармакологических средств, обладающих преимущественно неспецифическим действием. Наиболее интересным отечественным препаратом, предназначенным для профилактики и лечения гриппа и ОРВИ, является лекарственная композиция «Цитовир-3».
          p
            | Благодаря рациональному сочетанию компонентов «Цитовир-3» обладает противовирусной активностью, иммуномодулирующими и антиоксидантными свойствами. Не уступая по эффективности лечебно-профилактического действия в отношении гриппа и ОРВИ зарубежным средствам, «Цитовир-3» имеет целый ряд преимуществ: короткий курс приема (4 дня), идентичность лечебного и профилактического курсов, потенцированный эффект при повторном применении, удобную лекарственную форму, относительно невысокую стоимость. Однако, капсульная форма препарата и один вариант дозировки компонентов делали невозможным его применение в педиатрической практике у детей раннего возраста (младше 6 лет).
          p
            | В представленных материалах экспериментальных и клинико-лабораторных исследований новой лекарственной формы (в виде детского сиропа) препарата «Цитовир-3» показана его высокая лечебно-профилактическая эффективность в отношении гриппа и ОРВИ. В обычных курсовых дозах препарат не обладает побочными эффектами, не кумулируется в организме и при метаболизме не образует токсичных продуктов, что позволяет рекомендовать его внедрение в педиатрическую практику. Разработка препарата «Цитовир-3» в форме сиропа с адаптированным для детского применения составом лекарственных компонентов, на наш взгляд, будет способствовать улучшению лечебно-профилактического обеспечения детского населения в период неустойчивой эпидемической ситуации, а также эпидемии гриппа и ОРВИ.
          
          .final
            p.about Руководитель Отделения иммунологииv НИИ Экспериментальной медицины РАМН д.м.н., профессор
            .signing
              img(src="/assets/img/doctors/sign-4.png", alt="img", loading='lazy')
        p.back
          a(href="/recommend.html") Все отзывы