extends ../layout/page

block content
  .review
    .picture
    .content.oversize
      .container
        .text
          .person
            .photo
              img(src="/assets/img/doctors/doctor-1.jpg", alt="img", loading='lazy')
            .about
              p.name Дриневский Владимир Павлович
              p.short Выдающийся российский детский инфекционист, руководитель отделения респираторных вирусных инфекций у детей Научно-исследовательского института гриппа Минздрава России.
              p.long Доктор медицинских наук, профессор, автор более 200 научных работ по вопросам инфекционных заболеваний у детей, соавтор 5 изобретений, 3 патентов и 5 руководств для практических врачей. На протяжении многих лет вел самостоятельный раздел исследований, посвященный изучению реактогенных свойств, безвредности и иммуногенности гриппозных вакцин для детей. Под его руководством получили образование более 200 клинических ординаторов и аспирантов, защищено 5 докторских и 15 кандидатских диссертаций.
            .logo.visible__md
              img(src="/assets/img/doctors/icon-1.jpg", alt="img", loading='lazy')
          h1.question Заключение о лечебно-профилактической эффективности комплексного препарата «ЦИТОВИР - 3» для детей
          p
            | Несмотря на значительные достижения в области профилактики и лечения гриппа и других острых 
            | респираторных вирусных инфекций, проблема ещё далека от окончательного решения, 
            | если оно вообще возможно. В этой связи поиск новых лекарственных средств, 
            | предназначенных для профилактики и лечения этих заболеваний, 
            | по-прежнему сохраняет свою актуальность. В последние годы нами проводятся многочисленные 
            | клинико-лабораторные наблюдения по изучению лечебной и профилактической эффективности этиотропных, 
            | иммунокоррегируюших и общеукрепляющих средств. Одним из таких средств является разработанный 
            | Медико-биологическим научно-производственным комплексом «Цитомед» комплексный препарат «Цитовир-3», 
            | разрешенный в 2001 году Министерством Здравоохранения РФ к медицинскому применению (Р.№ 000195/01-2001).
          p
            | Комплекс включает в себя 3 основных лекарственных вещества: дибазол, тимоген и аскорбиновую кислоту. Основная идея этого комплекса, по мнению авторов, состоит в реализации принципа биорегулируюшей терапии, при которой каждый из трех компонентов усиливает иммуномодулирующий потенциал двух других. Так, дибазол, по данным большинства исследователей обладает свойством мягкого индуктора эндогенного интерферона, преимущественно альфа-фракции, а также модулирует функциональную активность клеток фагоциторно-макрофагального звена. Вместе с тем, наибольшая индукция интеферона в ответ на введение дибазола отмечается только в продуктивной фазеинтерфероногенеза, в рефрактерной фазе продукция выражена очень слабо или отсутствует. Этот недостаток дибазола устраняется в результате введения в организм тимогена, относящегося к группе пептидных тимомиметиков, отменяющих рефрактерную фазу интерфероногенеза. Кроме того, тимоген способствует оптимизации клеточного и гуморального звеньев иммунитета, а также инаппарантной сероконверсии, смысл которой заключается в формировании специфической невосприимчивости при попадании в организм низкой дозы возбудителя, которая не вызывает манифестации заболевания. Третий компонент -аскорбиновая кислота — усиливает действие двух других компонентов за счет активации системы неспецифической зашиты.
          p
            | Анализируя комплекс «Цитовир-3», мы отметили его полную безопасность, так как со всеми компонентами в отдельности и в разных сочетаниях мы работали несколько лет. Дозы всех компонентов не превышают разовых и на 1 -2 порядка меньше высших суточных. По нашим данным, за все время медицинского применения комплекса не было отмечено ни одного случая каких-либо осложнений и побочных эффектов. Более того, врачи поликлинического звена отмечают хорошую переносимость препарата, и заметно более легкое течение заболевания без каких-либо осложнений.
          p
            | Комплекс «Цитовир-3» достаточно популярен среди родителей, которые отмечают более быстрое выздоровление детей без каких-либо постинфекционных осложнений. Представленные авторами контролируемые клинические исследования лишь подтверждают наблюдения поликлинических специалистов.
          p
            | Выпускаемый МБНПК «Цитомед» препарат «Цитовир-3» в капсулах назначается взрослым и детям с 6-летнего возраста. Данное возрастное ограничение кажется оправданным, поскольку прием лекарственного препарата в виде капсул для детей более раннего возраста представляется достаточно проблематичным. В этой связи предлагаемая авторами форма препарата в виде сиропа является более предпочтительной, тем более, что дозы препаратов в ней адаптированы к соответствующей возрастной категории. Положительным качеством препарата «Цитовир-3 для детей, в сиропе» является отсутствие в нем красителей и вкусовых добавок, что позволяет применять его даже у детей с диатезами и нейродермитами.
          p
            | Представленные авторами результаты доклинического исследования препарата на неполовозрелых животных подтверждают полную безопасность новой лекарственной формы. Результаты экспериментального исследования противовирусных свойств и опыт клинического применения препарата в виде капсул свидетельствуют о перспективности нового лекарственного комплекса «Цитовир-З» для профилактики и раннего патогенетического лечения гриппа и других острых респираторных вирусных инфекций у детей.
          p
            | Разработанная специалистами МБНПК «Цитомед» новая форма комплексного препарата «Цитовир-3 для детей в сиропе» может быть рекомендована к внедрению в медицинскую практику.
          .final
            p.about Руководитель Отделения острых респираторных заболеваний детей НИИ Гриппа РАМН, д.м.н., профессор
            .signing
              img(src="/assets/img/doctors/sign-1.png", alt="img", loading='lazy')
        p.back
          a(href="/recommend.html") Все отзывы