extends ../layout/page

block content
  .review
    .picture
    .content.oversize
      .container
        .text
          .person
            .photo
              img(src="/assets/img/doctors/doctor-2.jpg", alt="img", loading='lazy')
            .about
              p.name Харит Сусанна Михайловна
              p.short Ведущий петербургский инфекционист и иммунолог, руководитель Отдела профилактики инфекционных заболеваний ФГБУ «НИИ детских инфекций федерального медико-биологического агентства».
              p.long Доктор медицинских наук, профессор кафедры инфекционных заболеваний Санкт-Петербургского государственного педиатрического медицинского университета. Главный внештатный специалист по вакцинопрофилактике городского Комитета по здравоохранению Санкт-Петербурга, член экспертного совета по вакцинопрофилактике детей с проблемами в состоянии здоровья при НЦЗД РАМН. Руководитель более 10 кандидатских диссертаций, автор множества статей, пособий и рекомендаций для врачей, утвержденных в Минздраве РФ, по вакцинопрофилактике инфекционных заболеваний у детей и взрослых. Научный интерес уже длительное время вызывает изучение вакцинального процесса у лиц с иммунопатологическими заболеваниями и иммунодефицитами, заболевания поствакцинального периода, клинические испытания вакцинных препаратов.
            .logo.visible__md
              img(src="/assets/img/doctors/icon-2.jpg", alt="img", loading='lazy')
          h1.question Отзыв на документацию к регистрации препарата «Цитовир-3» в форме сиропа для применения в педиатрической практике
          p
            | В представленных материалах по экспериментальному изучению и клиническому применению препарата «Цитовир-3» для перорального применения, являющегося комплексом, содержащим дибазол, аскорбиновую кислоту и тимоген, показана эффективность составляющих компонентов и препарата в целом для профилактики и лечения (на ранних стадиях) вирусных инфекций. Подтверждено, что основным механизмом действия комплексного препарата является активация интерферонового звена, что усиливает клеточный ответ, в первую очередь необходимый при вирусных инфекциях. Выявлено, что дибазол, аскорбиновая кислота и тимоген в комплексе оказывают взаимоусиливаюшее действие, выступая как кофакторы, что позволяет получить не просто суммирующее действие их от их применения, а принципиально новый эффект.
          p
            | Важным аспектом является безопасность использования «Цитовир-3» при применении у детей. Все вышеперечисленное подтверждает и широкое внедрение препарата по рекомендации НИИ Гриппа в практическое здравоохранение Санкт-Петербурга и Ленинградской области для профилактики и лечения гриппа и острых респираторных заболеваний у детей. Поэтому закономерным является следующий этап — создание «Цитовира-3» в виде сиропа для детей младшего возраста. Данные экспериментов на животных позволяют утверждать, что эта форма оказывает не менее эффективное действие и безопасна при применении. Результаты, представленные в рецензируемой документации, позволяют рекомендовать новую форму препарата «Цитовир-3» в виде сиропа для детей к внедрению в медицинскую практику.
          .final
            p.about Руководитель Отдела профилактики инфекционных заболеваний НИИ ДЕТСКИХ ИНФЕКЦИЙ ФМБА России д.м.н., профессор
            .signing
              img(src="/assets/img/doctors/sign-2.png", alt="img", loading='lazy')
        p.back
          a(href="/recommend.html") Все отзывы