extends ../layout/page

block content
  .review
    .picture
    .content.oversize
      .container
        .text
          .person
            .photo
              img(src="/assets/img/doctors/doctor-3.jpg", alt="img", loading='lazy')
            .about
              p.name Сельков Сергей Алексеевич
              p.short Советский и российский учёный, иммунолог и инфекционист, доктор медицинских наук, профессор по специальности «Аллергология и иммунология».
              p.long Возглавляет лабораторию иммунологии Института акушерства, гинекологии и репродуктологии им. Д. О. Отта (СПб), заслуженный деятель науки РФ. Специалист в области иммунологии репродукции, автор и соавтор более 450 научных работ, в том числе 3-х монографий, 4-х изобретений и патента. Подготовил 21 кандидата и 4-х докторов наук. Направление научных исследований — изучение вопросов клинической иммунологии при различных физиологических и патологических состояниях, изучение роли плаценты в материнско-фетальных иммунологических взаимодействиях. Член редакционных коллегий и советов журналов: «Инфекция и иммунитет», «Акушерство и гинекология», «TERRA MEDICA. Лабораторная диагностика» и др.
            .logo.visible__md
              img(src="/assets/img/doctors/icon-3.jpg", alt="img", loading='lazy')
          h1.question Отзыв на документацию к регистрации препарата «Цитовир-3» в форме сиропа для применения в педиатрической практике
          p
            | В структуре инфекционной заболеваемости грипп и острые респираторные вирусные инфекции занимают доминирующее положение. Значительные социально-экономические потери, обусловленные этими формами заболеваний, заставляют настойчиво искать новые формы их медикаментозной профилактики и лечения. Быстрая изменчивость и широкий спектр возбудителей респираторных инфекций делают предпочтительной разработку фармакологических средств, обладающих преимущественно неспецифическим действием. Наиболее интересным отечественным препаратом, предназначенным для профилактики и лечения гриппа и ОРВИ, является лекарственная композиция «Цитовир-3».
          p
            | Благодаря рациональному сочетанию компонентов «Цитовир-3» обладает противовирусной активностью, иммуномодулирующими и антиоксидантными свойствами. Не уступая по эффективности лечебно-профилактического действия в отношении гриппа и ОРВИ зарубежным средствам, «Цитовир-3» имеет целый ряд преимуществ: короткий курс приема (4 дня), идентичность лечебного и профилактического курсов, потенцированный эффект при повторном применении, удобную лекарственную форму, относительно невысокую стоимость. Однако, капсульная форма препарата и один вариант дозировки компонентов делали невозможным его применение в педиатрической практике у детей раннего возраста (младше 6 лет).
          p
            | В представленных материалах экспериментальных и клинико-лабораторных исследований новой лекарственной формы (в виде детского сиропа) препарата «Цитовир-3» показана его высокая лечебно-профилактическая эффективность в отношении гриппа и ОРВИ. В обычных курсовых дозах препарат не обладает побочными эффектами, не кумулируется в организме и при метаболизме не образует токсичных продуктов, что позволяет рекомендовать его внедрение в педиатрическую практику. Разработка препарата «Цитовир-3» в форме сиропа с адаптированным для детского применения составом лекарственных компонентов, на наш взгляд, будет способствовать улучшению лечебно-профилактического обеспечения детского населения в период неустойчивой эпидемической ситуации, а также эпидемии гриппа и ОРВИ.
          .final
            p.about Руководитель Отделения острых респираторных заболеваний детей НИИ Гриппа РАМН, д.м.н., профессор
            .signing
              img(src="/assets/img/doctors/sign-3.png", alt="img", loading='lazy')
        p.back
          a(href="/recommend.html") Все отзывы