extends ../layout/page

block content
  .articles
    .container
      .block__title
        h1.title Полезные статьи
      .content
        ul.tab__list(data-tabgroup="first-tab-group")
          li.tab
            a.active(href="#tab1") Все статьи
          li.tab
            a(href="#tab2") ОРВИ
          li.tab
            a(href="#tab3") Грипп
          li.tab
            a(href="#tab4") Профилактика
          li.tab
            a(href="#tab5") Лечение
          li.tab
            a(href="#tab6") Температура
          li.tab
            a(href="#tab7") Насморк
          li.tab
            a(href="#tab8") Кашель
          li.tab
            a(href="#tab9") Осложнения
        .inner.tabgroup#first-tab-group
          .text#tab1
            ul.list
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img-3.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ?
                    p Все родители людят своих детей. Родители проявляют к детям заботу, В 
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители люд
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ?
                    p Все родители людят своих детей. Родители проявляют к детям заботу, В 
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители люд
          .text#tab2
            ul.list
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
              li.item
                p Lorem ipsum dolor sit amet
          .text#tab3
            ul.list
              li.item
                p Lorem ipsum dolomet consectetur adipisicin
              li.item
                p Lorem ipsum dolor sit actetur adipisicin
          .text#tab4
            ul.list
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ?
                    p Все родители людят своих детей. Родители проявляют к детям заботу, В 
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. Родители проявляют к детям заботу,
              li.item
                a(href="")
                  .pic
                    img(src="./assets/img/statii-img.jpg", alt="img")
                  .text
                    h2.title Можно ли гулять ребенку при ОРВИ? 
                    p Все родители людят своих детей. Родители проявляют к детям заботу, Все родители людят своих детей. 
          .text#tab5
            ul.list
              li.item
                p Lorem ipsuonsectetur adipisicin
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
          .text#tab6
            ul.list
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
              li.item
                p Lorem ipsuconsectetur adipisicin
          .text#tab7
            ul.list
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
          .text#tab8
            ul.list
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin
              li.item
                p Lorem ipsum dolor sit amet
          .text#tab9
            ul.list
              li.item
                p Lorem ipsum dolor sit amet consesicin
              li.item
                p Lorem ipsum dolor sit amet consectetur adipisicin