@import "utils/reset";
@import "utils/vars";
@import "utils/fonts";

html {
  font-family: $mainFont;
  background-color: $white;
  font-size: $fz8;
  font-weight: $regular;
  color: $textColor;
  line-height: $mainLineHeight;
}

// Links
a {
  text-decoration: none;
  color: $textColor;

  &:active,
  &:hover {
    outline: 0;
    color: $textColor;
  }
}

.oversize{
  width: 104%;
  margin-left: -2%;
  & .container{
    padding: 0 20px;
  }
}

.wrapper {
  min-height: 100vh;
  padding-top: 60px;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;

  &.wrapper__page{
    background-color: $white;
    padding-top: 140px;
    justify-content: space-between;
  }
}

.wrapper.no-scroll {
  height: 100vh;
}

.container {
  padding: 0 10px;
  width: 100%;
  max-width: $desktopWidth;
  margin: 0 auto;
}

.content{
  background-color: $white;
}

main.main{
  & P{
    color: $textColor;
  }
}

h1.title {
  font-size: $fz11;
  color: $headerColor;
  font-weight: $extraBold;
}

h2.title {
  font-size: $fz12;
  color: $headerColor;
  font-weight: $extraBold;
  margin-bottom: 30px;
}

.button {
  padding: 14px 34px;
  font-size: $fz1;
  font-weight: $semiBold;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: .2s;
  background-color: $white;
  cursor: pointer;
  color: $stage;

  &:hover{
    color: $white;
    background-color: $stage;
  }
}

.visible__sm {
  display: none;
}

.visible__md {
  display: none;
}

.quote{
  display: flex;
  justify-content: center;
  text-align: center;
  & .cloud{
    background-color: $green;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    & p{
      font-size: $fz8;
      color: $white;
      font-weight: $bold;
      margin-bottom: 10px;
    }
    & a.btn{
      background-color: $white;
      color: $darkBlue;
      border-radius: 25px;
      align-self: center;
      padding: 10px 40px;
      font-weight: $bold;
      transition: .2s;
      &:hover{
        background-color: $darkBlue;
        color: $white;
      }
    }
  }
  &.orange{
    & .cloud{
      background-color: $orange;
      & a.btn{
        &:hover{
          background-color: $red;
        }
      }
    }
  }
}

@import "modules/header.scss";

@import "modules/menu.scss";

@import "modules/burger.scss";

@import "modules/form.scss";

@import "modules/index.scss";

@import "modules/socials.scss";

@import "modules/instructions.scss";

@import "modules/recommend.scss";

@import "modules/how.scss";

@import "modules/buy.scss";

@import "modules/faq.scss";

@import "modules/answer.scss";

@import "modules/review.scss";

@import "modules/company.scss";

@import "modules/document.scss";

@import "modules/footer.scss";

@import "modules/warning.scss";

@import "modules/slick.scss";

@import "modules/slick-theme.scss";

@media (min-width: 768px) {
  .visible__sm {
    display: block;
  }

  .hidden__sm {
    display: none;
  }
}

@media (min-width: 992px) {
  .hidden__md {
    display: none;
  }

  .visible__md {
    display: block;
  }

  h2.title {
    font-size: $fz40;
  }

  .wrapper {
    padding-top: 60px;
  }

  .oversize .container {
    padding: 0 30px;
  }

  .quote{
    & .cloud{
      width: 195px;
      height: 195px;
      & p{
      }
      & a.btn{
      }
      &::after{
        position: absolute;
        display: block;
        content: '';
        right: -180px;
        bottom: -90px;
        width: 170px;
        height: 228px;
        background-image: url('/assets/img/chick/chick-6.png');
        background-repeat: no-repeat;
        z-index: 1;
      }
      &::before{
        right: -15px;
        bottom: 50px;
        width: 40px;
        height: 40px;
        background-image: url('/assets/img/icons/triangle-green.svg');
        -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        transform: rotate(-10deg);
        z-index: -1;
        display: block;
        position: absolute;
        content: "";
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }
    }
    &.orange{
      & .cloud{
        &::before{
          background-image: url('/assets/img/icons/triangle-orange.svg');
        }
      }
    }
  }
}
